[2019-12-09 18:14] memreb1801 opened #1 "A5X Support"
Hi synackuk,

are you planning to support A5X or is it not possible to realize with checkm8...?

Regards and thanks in advance

[2019-12-10 07:11] ytrufchev opened #2 "High Sierra not supported?"
On the read.me it says sierra and up, but on high sierra it's says it requires 10.14. Is there a way to fix this?

[2019-12-10 11:19] frankl1m opened #3 "Problem Jailbreak 5"
Is stucked in "Grouming heap", i tried for several times the same, one time only i get Booting message in iPhone

[2019-12-10 13:37] kinkenyuen opened #4 "stuck at "Executing payload""
Boot Tethered rate is low, stuck at "Executing payload"

iPhone 5,2 iOS 7.1.2

MacOS 10.15

[2019-12-10 13:38] s4miii opened #5 "stuck on booting in A6X"
hi and thank you
iPad 4 ios 10.3.3 could not be jailbreak
just stuck on booting ... on ipad's screen
any idea ?

[2019-12-10 14:15] slingalist commented on #2
It works if you start it from terminal.

[2019-12-10 14:16] frankl1m commented on #3
or if not i receive this error

[2019-12-10 14:17] ytrufchev commented on #2
Thanks :)

On Tue, Dec 10, 2019, 4:15 PM slingalist <notifications@github.com> wrote:

[2019-12-10 14:20] slingalist opened #6 "iPhone 5c Unable to send RestoreLogo to device when running idevicerestore"
ERROR: Unable to send RestoreLogo component: Unable to find device ERROR: Unable to send RestoreLogo to device. ERROR: Unable to send AppleLogo ERROR: Unable to place device into restore mode Error in libbelladonna_restore_ipsw (libbelladonna.c:594) "Failed to restore device." 2019-12-09 20:02:43.852 n1ghtshade[50853:198706] Failed to restore device

iPhone 5c (Global)
macOS 10.13 (High Sierra)

S

[2019-12-10 14:31] frankl1m commented on #5
Same happens to me iPhone 5

[2019-12-10 22:26] NotHereForTheDong commented on #4
I have an iPhone 5,1
iOS 7.1.2
MacOS 10.14.6
Executing payload many times over (40 tries) before it works

and if I run ipwndfu -p && ipwndfu --l unpacked iBSS
and unplug then:
 irecovery -f iBSS.*
irecovery -f iBEC.*
irecovery -s
/send applelogo*
setpicture
bgcolor 0 0 0
/send DeviceTree.*
devicetree
/send kernelcache.*
bootx

it boots up no problem so I'm sure the issue is not my computer as doi

[2019-12-11 12:06] KalThemes opened #7 "iPhone 5C device not detected by idevicerestore after executing iBoot payload"
It's just giving restore failed error and on iphone screen it's stuck on
pwned by synAck
Initialised atropine.

[2019-12-11 17:46] wutiswrongxd commented on #6
Having the exact same issue here.

[2019-12-11 22:37] jaxx635 commented on #6
same

[2019-12-12 06:20] oyeanu opened #8 "Ipad 4 stuck on Restore Device ?"

[2019-12-12 12:41] s4miii opened #9 "going to recovery after each reboot ! [iphone 5]"
thanks you so much I've install ios 7.1 on iphone 5
but, after reboot I have to connect it to your app and select "boot" till it will boot, eveytime
why ?

[2019-12-12 15:59] youw3 opened #10 "Stuck at restoring device"
![image](https://user-images.githubusercontent.com/18373219/70727929-7a477200-1d3b-11ea-8253-a701527ca056.png)

[2019-12-12 16:00] youw3 commented on #10
5c downgrade to 7.1.2 , kept in the state "Restoring device" long long time

[2019-12-12 19:10] TXIuTnVsbA opened #11 "How to build it?"
i'm try to use 'make',but its error;

null@iMac n1ghtshade % make
Building plib
CC -c atoi.c -o bin/atoi.o
make[2]: arm-elf-gcc-4.7: No such file or directory
make[2]: *** [bin/atoi.o] Error 1
make[1]: *** [plib] Error 2
make: *** [atropine] Error 2

just how to build it ?

[2019-12-12 23:05] NotHereForTheDong commented on #9
@s4miii yes that is required. How many attempts does it take you to boot up? Does it keep failing to enter pwndfu?

[2019-12-13 07:26] appletech752 opened #12 "iPhone 5c A1532 and A1456 both stuck at executing payload"
I tried booting, jailbreaking, restoring... used every iOS 7 ipsw and three different devices. It always gets stuck on executing payload.

Working great on the iPhone 5 but I haven't seen anyone get the 5c working.

I have concluded that the iPhone 5c is unsupported unless anyone says otherwise.

[2019-12-13 08:13] appletech752 opened #13 "Device supports Image4: false"
Finally managed to get to the restore on my 5c but it won't accept an image file:
`Found device in Recovery mode`
`Identified device as n48ap, iPhone5,3`
`Extracting BuildManifest from IPSW`
`Product Version: 7.0.4`
`Product Build: 11B554a Major: 11`
`INFO: device serial number is F73L72PWFNDM`
`Device supports Image4: false`

[2019-12-13 17:48] NotHereForTheDong commented on #13
@appletech752 this is an invalid issue. iPhone 5 doesn’t support image4 it uses image3

[2019-12-13 18:46] appletech752 commented on #13
It’s a 5c not a 5.

[2019-12-13 22:17] synackuk commented on #13
Correct. Does it get stuck here @appletech752

[2019-12-13 22:17] synackuk commented on #12
5c, GSM or global?

[2019-12-13 22:18] synackuk commented on #11
@TXIuTnVsbA You need to install arm-elf-gcc from macports. Check the dependencies section of the readme :)

[2019-12-13 22:18] synackuk commented on #10
What is shown on the 5c at this time, and is it a 5c GSM or Global?

[2019-12-13 22:19] synackuk commented on #9
This is expected behaviour due to the nature of the checkm8 exploit.

[2019-12-13 22:19] #9 closed

[2019-12-13 22:19] synackuk commented on #1
It is possible. But it will take time.

[2019-12-13 22:19] #1 closed

[2019-12-13 22:20] synackuk commented on #2
@ytrufchev correct, this will be corrected in the next build but currently I want to iron out the restoring bug.

[2019-12-13 22:21] synackuk commented on #3
@frankl1m Can you run from terminal with LIBUSB_DEBUG=3 before n1ghtshade? What macOS version and what device?

[2019-12-13 22:21] appletech752 commented on #12
GSM

[2019-12-13 22:21] synackuk commented on #4
@kinkenyuen and @NotHereForTheDong Can you run from terminal with LIBUSB_DEBUG=3 environment variable set?

[2019-12-13 22:22] synackuk commented on #5
Correct. This doesn't support iOS 10

[2019-12-13 22:22] #5 closed

[2019-12-13 22:23] synackuk commented on #6
@slingalist Thank you, I have heard a few reports of this. Trying to find common variables currently.

[2019-12-13 22:23] appletech752 commented on #12
I’ve now attempted it 20+ times on five different GSM 5c devices

[2019-12-13 22:23] synackuk commented on #7
What macOS version? What iOS version are you attempting to restore?

[2019-12-13 22:24] synackuk commented on #8
@oyeanu What iOS version are you trying to restore? What macOS version are you running?

[2019-12-13 22:24] TXIuTnVsbA commented on #11
thanks my friend

[2019-12-13 22:25] appletech752 commented on #13
Yes this is the error:
libbelladonna_restore_ipsw
(libbelladonna.c:594) “Failed to restore device.”

[2019-12-13 22:26] appletech752 commented on #13
The device shows 2 lines of verbose boot but goes no further

[2019-12-13 22:26] synackuk commented on #13
@appletech752 Can you share the full terminal log?

[2019-12-13 22:27] synackuk commented on #12
@appletech752 What macOS?

[2019-12-13 22:27] appletech752 commented on #12
Occasionally (about 1 in 10 times) it goes through but it then gets stuck at the libbelladonna “failed to restore device” error. See my other issue

[2019-12-13 22:27] appletech752 commented on #12
High sierra

[2019-12-13 22:28] synackuk commented on #12
Right, I will play with High Sierra now.

[2019-12-13 22:28] appletech752 commented on #13
Yes I’ll upload it one moment

[2019-12-13 22:50] appletech752 commented on #13
Last login: Fri Dec 13 14:41:51 on ttys000
AppleTech’s-MacBook-Air:~ appletech752$ /Applications/n1ghtshade.app/Contents/MacOS/n1ghtshade &
[1] 85841
AppleTech’s-MacBook-Air:~ appletech752$ objc[85841]: Class FIFinderSyncExtensionHost is implemented in both /System/Library/PrivateFrameworks/FinderKit.framework/Versions/A/FinderKit (0x7fff96ca1c90) and /System/Library/PrivateFrameworks/FileProvider

[2019-12-13 22:51] appletech752 commented on #13
Hopefully this helps.

[2019-12-14 00:26] KalThemes commented on #7
MacOS Mojave
And I tried iOS 7.1.2, 7.0.4, 7.0.1 & 7.1 versions.
But encounter same error.
I also install libusb, homebrew and many other dependencies but still no luck.

[2019-12-14 00:31] KalThemes commented on #13
How to use terminal with N1ghtshade for checking log?

[2019-12-14 09:54] TXIuTnVsbA opened #14 "Executing payload"
Process:               n1ghtshade [16833]
Path:                  /private/var/folders/*/n1ghtshade.app/Contents/MacOS/n1ghtshade
Identifier:            com.synackuk.n1ghtshade
Version:               0.01 (0)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           n1ghtshade [16833]
User ID:               501

Date/Time:             2019-12-14 17:50:46.808 +0800

[2019-12-14 09:57] TXIuTnVsbA commented on #14
Thread 0:: Dispatch queue: com.apple.main-thread
0   libsystem_kernel.dylib        	0x00007fff70848166 mach_msg_trap + 10
1   libsystem_kernel.dylib        	0x00007fff708486cc mach_msg + 60
2   com.apple.CoreFoundation      	0x00007fff393bf36b __CFRunLoopServiceMachPort + 322
3   com.apple.CoreFoundation      	0x00007fff393be907 __CFRunLoopRun + 1695
4   com.apple.CoreFoundation      	0x00007fff39

[2019-12-14 16:16] KalThemes commented on #7
@synackuk
MacOS Mojave
And I tried iOS 7.1.2, 7.0.4, 7.0.1 & 7.1 versions.
But encounter same error.
I also install libusb, homebrew and many other dependencies but still no luck.

[2019-12-14 17:56] dausjer opened #15 "iphone 5 ios 6.0/7.1.2"
try 6.0/7.1.2 iphone 5
5,1 and 5,2
but stuck grooming heap..
how to fix..
osx sierra use

[2019-12-14 19:48] synackuk commented on #15
@dausjer How many times have you tested this? Can you try running from terminal with LIBUSB_DEBUG=3 environment variable?

[2019-12-15 01:26] NotHereForTheDong commented on #4
@synackuk

![087BD36C-5D9D-4054-A7E7-BAA15F992941](https://user-images.githubusercontent.com/52018850/70856733-fc58a780-1eaf-11ea-8bc3-5513e2a362b0.jpeg)

I always get (Darwin_claim_interface) USBinterFaceOpen : Another process has device open for exclusive access.

If I use irecovery to reset the connection until that output is gone and it’s just left with waiting for DFU device, it greatly impro

[2019-12-15 07:35] dausjer commented on #15
6 hours try...many times try but no luck,just one luck restore 5,2 ios 7.1.2 but not finish just half and get error..so need try again,just copy paste in terminal  LIBUSB_DEBUG=3 this??how about environment variable? how to set this

[2019-12-15 08:33] SaadAbbassi4 opened #16 "Problem downgrading iPad3,4 to iOS 6.1.3"
Hi,
It's just giving "Failed to restore Device" and on iPad screen it's stuck on:
pwned by synAck ;)
Initialised atropine.

I'm using macOS Sierra and my device was on iOS 10.3.3 the first time i tried it worked but i had an activation error after i tried to delete setup.app but i couldn't restore

[2019-12-15 20:51] synackuk commented on #16
@SaadAbbassi4 The second time it didn't work? Did you use a different version of n1gthshade?

[2019-12-16 04:00] TXIuTnVsbA commented on #4
我也是中了这个问题，一直卡在那个什么界面，系统内核占用了usb端口，然后就卡住，然后就闪退了
= =我只知道是这app的线程问题

[2019-12-16 12:39] slingalist commented on #6
I got it to work with beta 5

Tested with;
iOS 7.0.1
iOS 7.05

[2019-12-16 22:11] mrichardist opened #17 "Black Screen on iPhone 5 after restore"
The device gets stuck in dfu mode I believe. The restore is successful, I've tried 6.0 and 6.0.2 but no luck on sierra. If I hope the power button on the iPhone, it turns on for a brief moment then shuts off. I've tried using the boot option on n1ghtshade but it says waiting for dfu mode when I think the device is already on dfu mode, iTunes detects it in DFU mode, the same with 3uTools.

[2019-12-18 05:54] pappanunny opened #18 "Error at building"
Im trying to build, and this error occured. How can i get past it? What am I missing here?

n1ghtshade csg3206$ make
Building plib
make[2]: 'libp.a' is up to date.
Building iBoot32Patcher
make[2]: 'libiBoot32Patcher.a' is up to date.
Building targets
Building target iBEC
make[3]: `atropine' is up to date.
Building kill_software_update
Making all for tool kill_software_update…
==> Compiling main.mm

[2019-12-18 06:53] oyeanu commented on #8
IOS 6.1.3 macOS 10.14

[2019-12-18 11:09] pappanunny commented on #18
For people who might encounter this error: This was due to the missing iOS sdk in theos.

[2019-12-18 11:09] #18 closed

[2019-12-19 02:01] KalThemes commented on #7
@synackuk still not fix?

[2019-12-19 20:54] synackuk commented on #17
@mrichardist Interesting. Does it restore correctly?

[2019-12-19 20:54] synackuk commented on #15
@dausjer Can you try with the latest beta, when running from the terminal add LIBUSB_DEBUG=3 before the path to the n1ghtshade binary

[2019-12-19 20:55] synackuk commented on #2
Fixed.

[2019-12-19 20:55] #2 closed

[2019-12-20 03:11] NotHereForTheDong opened #19 "Error in checkm8_exploit (checkm8.c:154) "Failed on leak: 0.""
This is a new error when running almost everytime.

I have compiled this myself and the same issue of
"Error in checkm8_exploit (checkm8.c:154) "Failed on leak: 0."

2019-12-19 22:08:45.276 n1ghtshade[30373:1066759] checkm8 by axi0mX
2019-12-19 22:08:45.277 n1ghtshade[30373:1066759] Grooming heap
Error in checkm8_exploit (checkm8.c:154) "Failed on leak: 0."
Error in libbelladonna_exploit (libbella

[2019-12-20 07:11] mrichardist commented on #17
Yeah it does. It’s after the restore the device is stuck on a black screen

[2019-12-20 07:56] oyeanu opened #20 "still getting this error Iphone 5 failed to enter Pwned DFU"

[2019-12-21 03:50] bodenchristian commented on #16
Is the error caused by deleting the Setup.app? I get this same error on iPhone 5 10.3.3 after deleting it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-12-21 08:28] appletech752 commented on #20
One of my iPhone 5c's also cannot enter dfu I tried 27 times over and over and get this error:

File "./ipwndfu", line 64, in <module>
    checkm8.exploit()
  File "/Users/myusername/Desktop/ipwndfu-master/checkm8.py", line 504, in exploit
    libusb1_async_ctrl_transfer(device, 0x21, 1, 0, 0, 'A' * 0x800, 0.0001)
  File "/Users/myusername/Desktop/ipwndfu-master/Exploit/checkm8.py", line 45, in li

[2019-12-21 12:42] SaadAbbassi4 commented on #16
@synackuk No, I used the same version

[2019-12-22 11:43] StarLord0055 opened #21 "using iPhone 5,2 iOS 10.3.3"
1st attempt say error Failed to enter pwned recovery mode.
2nd attempt say Device not compatible.

[2019-12-22 12:45] StarLord0055 commented on #20
Try this got same error
Brew install : https://brew.sh/
libusb command: brew install libusb
libmobiledevice command: brew install --HEAD libimobiledevice -g
brew install ideviceinstaller -g

[2019-12-22 12:45] StarLord0055 commented on #21
Figured out this error was libmobiledevice

[2019-12-22 12:45] #21 closed

[2019-12-22 13:56] StarLord0055 commented on #17
When white screen comes and go watch carefully iphone screen back light is on screen works happened with me you check in dark from there try dfu mode

[2019-12-22 14:13] StarLord0055 commented on #10
Try different beta version

[2019-12-22 19:01] mrichardist commented on #17
It is detected as DFU mode after restore

[2019-12-23 01:10] synackuk commented on #19
@NotHereForTheDong  Beta 12 should fix this

[2019-12-23 01:12] synackuk commented on #16
@SaadAbbassi4 Can you try with beta 12?

[2019-12-23 01:12] synackuk commented on #15
@dausjer Fixed grooming heap lockup I believe

[2019-12-23 01:13] synackuk commented on #14
@TXIuTnVsbA I don't understand what the error is.

[2019-12-23 01:13] synackuk commented on #13
@appletech752 I think this error may be iradicated.

[2019-12-23 01:13] synackuk commented on #12
@appletech752 Please try beta 12.

[2019-12-23 01:14] #11 closed

[2019-12-23 01:14] synackuk commented on #8
@oyeanu Please try with beta 12

[2019-12-23 01:15] synackuk commented on #3
@frankl1m try the latest beta.

[2019-12-23 01:15] synackuk commented on #4
@NotHereForTheDong I think the success rate should be greatly improved with beta 12.

[2019-12-23 01:29] synackuk commented on #20
not related to n1ghtshade.

[2019-12-23 01:29] #20 closed

[2019-12-23 05:18] Merculous commented on #12
I am also unable to restore my 5C iPhone5,3 to any iOS. Still an issue in B12.

[2019-12-23 17:20] SaadAbbassi4 commented on #16
Thanks! I like the new logo!

[2019-12-23 21:29] ToreHQ12 opened #22 "Windows or Yosemite support...!"
Hello! i have a windows pc and a Yosemite machintosh.. the program "n1ghtshade" doesn't work with yosemite either for windows.. so.. when the program work in this two O.S? thanks...!

[2019-12-23 23:51] hanlywijaya opened #23 "N1ghtshade b12 stuck on 'Executing Payload' | macOS Sierra 10.12.6"
Hello, developer 'synackuk'. I recently tried to restore my iPad (4th generation with 128gb from Jan 2013) with n1ghtshade on the latest beta, 12, but whenever I try to restore it, it gets stuck on 'Executing Payload'. Tried several versions of n1ghtshade but nothing. My Mac specifications is below.
iMac (27-inch late 2012)
macOS Sierra
10.12.6
Hope, you can help.
Cheers mate!
EDIT: My iPad 4 is s

[2019-12-24 07:29] hanlywijaya commented on #23
Just tried n1ghtshade beta 9, it's also stuck on 'Executing payload' as well. I'll try to update you later.

[2019-12-24 12:54] SaadAbbassi4 opened #24 "Problem trying to restore iPad3,4 (b12)"
Hey!
Thanks for the amazing tool you've made!
You told me to use beta 12 and it worked! But I had the activation error again so I tried restoring a patched version without setup.app and it gave and error (even if I restore a non-patched version):"Failed to enter pwned recovery mode"
I tried to downgrade to iOS 6.1.3
Thanks!
Edit: I can enter pwned DFU Mode using ipwndfu

[2019-12-26 12:52] SaadAbbassi4 commented on #24
Solved! Just had to install some dependencies

[2019-12-26 20:43] ToreHQ12 opened #25 "Stuck on executing payload"
Hello i was stuck at executing payload. I have tried every beta but no luck.
I have an iphone 5

[2019-12-26 20:44] #22 closed

[2019-12-26 20:44] ToreHQ12 commented on #23
It work?i have same issue

[2019-12-26 23:08] NotHereForTheDong commented on #19
it has been fixed @synackuk

[2019-12-26 23:08] #19 closed

[2019-12-28 13:14] #24 closed

[2019-12-28 13:15] SaadAbbassi4 commented on #16
Hey!
You told me to use beta 12 and it worked! But I had the activation error again so I tried restoring a patched version without setup.app and it gave and error (even if I restore a non-patched version):"Failed to enter pwned recovery mode"
I tried to downgrade to iOS 6.1.3
Thanks!
Edit: I can enter pwned DFU Mode using ipwndfu

[2019-12-28 13:16] SaadAbbassi4 commented on #16
Sometimes it gives me "Restore failed"

[2019-12-29 16:18] omarthen3rd opened #26 "iPhone 5 losing cellular service after jailbreaking"
A successful restore + tethered boot allows all phone functions to work normally, but as soon as it's jailbroken and then a tethered boot is performed, cellular service is lost. 'Searching...' shows up for a couple of minutes and then resorts to 'No Service'. Testing on iOS 6.1.4 + 7.1.2 on an iPhone 5,1.

[2019-12-31 10:58] pappanunny opened #27 "Error while trying to build"
Hi,
I'm trying to build n1ghtshade, and am facing an issue as shown below:

Building jb_init

==> Compiling main.m (armv7)…
==> Linking tool jb_init (armv7)…
clang: warning: libstdc++ is deprecated; move to libc++ with a minimum deployment target of iOS 7 [-Wdeprecated]
Undefined symbols for architecture armv7:
  "_strcmp", referenced from:
      _main in main.m.e38a04da.o
ld: symbol(s) not found

[2019-12-31 16:22] modemm opened #28 "GPS not working @ iPhone 5, iOS 6.1.3"
After booting GPS location is not working at iPhone 5, iOS 6.1.3, done by n1ghtshade beta 12 on OS X High Sierra

[2020-01-01 19:43] SashaLobanov opened #29 "Will you do a support for devices on A5 chip? I want to downgrade my iPhone 4S to iOS 5. And for A4 chip?"

[2020-01-01 19:45] SashaLobanov commented on #29
Will you do a support for A4/A5 devices? I want to downgrade my iPhone 4S to iOS 5

[2020-01-02 00:58] KalThemes opened #30 "Unable to boot after installing Rocket bootstrap because of Launchctl error"
I restored iphone 5C on iOS 7 but after installing Rocket bootstrap i can't boot my device. on verbose boot it give me Launchctl error.
![IMG_20191229_072639__01](https://user-images.githubusercontent.com/55291853/71648351-2243d000-2d29-11ea-9913-7025cf8c58a8.jpg)

[2020-01-02 21:29] SashaLobanov commented on #30
I think that iPhone 5C is not supported. Look at the comments. Nobody could downgrade iPhone 5C, so I think it’s unsupported

[2020-01-02 23:43] synackuk commented on #29
Yup, waiting on some things to come to pass for this

[2020-01-02 23:44] synackuk commented on #28
I think this may be an issue with the baseband, something I'm unable to rectify

[2020-01-03 03:54] KalThemes commented on #30
@SashaLobanov I'm able to restore with N1ghtshade successfully but after installing Rocket bootstrap i can't boot it give me Launchctl error on verbose boot

[2020-01-06 03:41] synackuk commented on #23
@hanlywijaya @ToreHQ12
[n1ghtshade-beta.zip](https://github.com/synackuk/n1ghtshade/files/4024645/n1ghtshade-beta.zip)
 Can you try this version

[2020-01-06 03:42] synackuk commented on #30
This issue is being investigated, the jailbreak patching utility will be greatly improved in the next beta.

[2020-01-06 03:43] synackuk commented on #26
Related #28 But I think I can fix this

[2020-01-06 03:43] KalThemes commented on #30
@synackuk Even Filza and many other tweaks not working giving weird errors

[2020-01-06 03:44] synackuk commented on #27
Seems like an issue with your install of theos

[2020-01-06 03:44] #27 closed

[2020-01-06 03:44] synackuk commented on #25
@ToreHQ12
[n1ghtshade-beta.zip](https://github.com/synackuk/n1ghtshade/files/4024645/n1ghtshade-beta.zip)
 Can you try this version

[2020-01-06 03:44] #25 closed

[2020-01-06 03:46] synackuk commented on #17
I believe this means the restore was unsuccessful

[2020-01-06 03:46] synackuk commented on #16
@SaadAbbassi4

Not entirely clear what the new issues are. Please create a new issue so things can remain organised :)

[2020-01-06 03:46] #16 closed

[2020-01-06 03:47] synackuk commented on #15
Closing as fixed

[2020-01-06 03:47] #15 closed

[2020-01-06 03:48] synackuk commented on #14
Closing as title is duplicate of #23

[2020-01-06 03:48] #14 closed

[2020-01-06 03:48] synackuk commented on #13
Closing as fixed

[2020-01-06 03:48] #13 closed

[2020-01-06 03:49] synackuk commented on #12
Closing as duplicate of #23

[2020-01-06 03:49] #12 closed

[2020-01-06 03:50] synackuk commented on #10
@StarLord0055
[n1ghtshade-beta.zip](https://github.com/synackuk/n1ghtshade/files/4024645/n1ghtshade-beta.zip)
 Can you try this version

[2020-01-06 03:51] synackuk commented on #8
Closing as fixed

[2020-01-06 03:51] #8 closed

[2020-01-06 03:51] synackuk commented on #7
Please try with the latest beta

[2020-01-06 03:53] synackuk commented on #6
This may be fixed in beta 12

[2020-01-06 03:53] synackuk commented on #4
Closing as duplicate of #23

[2020-01-06 03:53] #4 closed

[2020-01-06 03:53] synackuk commented on #3
Closing as issue fixed

[2020-01-06 03:53] #3 closed

[2020-01-06 05:28] mrichardist commented on #17
Haven't had any successful downgrades, nothing works for me I'm on sierra

[2020-01-06 19:11] marleyqp opened #31 "Unable to boot after any iOS restore, black screen/recovery mode (A6, iPhone 5)"
Chose multiple iPSW’s, iOS 7 and iOS 6, but after install, it doesn’t boot into iOS. Bug?

[2020-01-06 21:26] SaadAbbassi4 opened #32 "Problems while downgrading iPad3,4 to iOS 6.1.3"
Hey!
You told me to use beta 12 and it worked! But I had the activation error again so I tried restoring a patched version without setup.app and it gave and error (even if I restore a non-patched version): `Failed to enter pwned recovery mode`
I tried to downgrade to iOS 6.1.3
Thanks!
Edit: I can enter pwned DFU Mode using ipwndfu

[2020-01-07 00:06] marleyqp commented on #26
Is there any way to undo the jailbreak? and is there an eta for next release? planning to use my iOS 6 device for a week xD

[2020-01-07 00:07] #31 closed

[2020-01-07 00:08] marleyqp commented on #17
I forgot to click Boot Tethered, maybe the case for you?

[2020-01-07 00:09] mrichardist commented on #17
Tried that as well, doesn't do anything. Tried with all betas no luck

[2020-01-07 03:50] marleyqp commented on #17
Sorry about that. Hopefully in the next beta 🤞

[2020-01-07 06:07] marleyqp opened #33 "FaceTime app disappeared? (iPhone 5)"
Don’t know why but FaceTime app and functionality has gone! I can make FaceTime calls from messages for a split second then it says unavailable

[2020-01-08 11:56] pappanunny commented on #27
Not theos, the sdk in theos. I had fixed this, but forgot to follow up and close it. Thank you very much for the response.

[2020-01-08 19:55] SaadAbbassi4 commented on #32
I think it's because I use **Sierra**

[2020-01-11 09:38] SaadAbbassi4 commented on #29
You can use `ch3rryflower`

[2020-01-12 17:40] SashaLobanov commented on #29
What is ch3rryflower and where can I find it?

[2020-01-13 06:09] pappanunny commented on #29
Che3rryflower: https://github.com/dora2-iOS/ch3rryflower

[2020-01-14 07:07] StarLord0055 commented on #10
Yup will let you know today

On Mon, 6 Jan 2020, 9:20 am synackuk, <notifications@github.com> wrote:

[2020-01-16 12:45] ToreHQ12 commented on #10
it work?

[2020-01-17 16:57] StarLord0055 commented on #10
Yes its working fine however if you can add custom loader for bypass like
iphone 5 gobal is not supported by checkra1n yet software working perfectly
fine

On Thu, 16 Jan 2020, 6:15 pm ToreHQ12, <notifications@github.com> wrote:

[2020-01-20 05:02] bodenchristian opened #34 "Bluetooth & AirPlay not working on iOS 7 (N1ghtshade beta 12)"
So I successfully downgraded my iPhone 5 to iOS 7.0 and 7.0.6 plus tried everything in between, but Bluetooth is not an option in settings and in Control Center clicking it doesn't do anything. Bluetooth did work though in iOS 10.3.4. When I try to connect to AirPlay (Which works on my iPhone 8 & 7), it shows that it's connected but when I go to play the video or song, it disconnects. TIA, and I c

[2020-01-21 16:45] WendigoTV commented on #23
Same problem with iPhone 5 & Catalina, beta.zip doesn't work either

[2020-01-21 18:18] CenoX commented on #17
I was in same situation, device after restore goes into Recovery mode not DFU.
I restored device into iOS 6.1.2, succeed to boot properly with Boot Tethered feature on n1ghtshade beta 12.

@mrichardist check it out.
If you failed to enter pwned DFU or n1ghtshade quit, don't mind it and just keep trying. It works.

[2020-01-22 07:28] iponurovskiy opened #35 "n1ghtshade b12 stucks on "Executing payload" and then crushes (iPhone 5C, Catalina 10.15.2)"
When I try to Jailbreak or Boot Tethered iPhone 5C with the latest n1ghtshade Beta, the utility stucks on "Executing payload" step for a while and then crushes with Segmentation fault. My environment is Mac OS Catalina 10.15.2.

[2020-01-29 14:40] #32 closed

[2020-02-03 15:33] Charliefr3sh opened #36 "No Cydia or jailbreaking apps on ios 7 +"
cannot install cydia or any other alternatives on ipad 4 running ios 7

[2020-02-09 20:41] ProgrammingHider commented on #26
Can Confirm, iOS 6.1.4 iPhone 5 Global, Cellular stops working after Jailbreak.

[2020-02-11 08:28] megabitsenmzq opened #37 "Always failed to enter pwned dfu mode"
iPhone 5,2
iOS 10.3.4
Catalina 10.15.3

[2020-03-03 19:29] synackuk commented on #35
Can you send the full error log @iponurovskiy

[2020-03-03 19:29] synackuk commented on #36
What error do you recieve @Charliefr3sh

[2020-03-03 19:30] synackuk commented on #33
I believe this is due to the hactivation used within n1ghtshade. I'm working on a system for disabling this.

[2020-03-03 19:31] synackuk commented on #34
@bodenchristian I'm also having the bluetooth issue, will investigate

[2020-03-03 21:13] benjamin52acv opened #38 "waiting for device in dfu mode fix"

[2020-03-03 22:21] Chicko-iOS commented on #37
Probably because you are on Catalina. Not sure, but I think that Catalina is broken.

[2020-03-03 23:48] #38 closed

[2020-03-04 11:14] Charliefr3sh commented on #36
There's no error, everything goes well, but there's no Cydia installed on the home screen. But the iPad does show that's jailbroken

[2020-03-05 11:38] amit9179 commented on #26
How to jailbreak iphone 5 after tethered boot. I’m using Pangu tool. It reboots the device nd device stucks on boot everytime.

[2020-03-07 12:07] megabitsenmzq commented on #37
I tried to use nightshade on other Mac and VM, it always fail.
I also tried to use ipwndfu directly, and it worked.

[2020-03-10 11:00] thisismartinn opened #39 ""Connect to iTunes to use Push Notification""
Notification on apps (e.g Spotify, YouTube) won't work at all, asked user to connect to iTunes. I connected to iTunes and it does nothing. iPhone 5,2 w/ iOS 6.1.4.

I think this issue is related to #28 as well.

[2020-03-12 13:30] amit9179 opened #40 "Iphone 5 restarting randomly"
Iphone 5 downgraded to ios 6.1.2 bt it keeps rebooting itself nd stuck on recovery mode.

[2020-03-13 22:10] TheMorc commented on #29
I don't see in ch3rryflower anything stating that it supports 4S(mainly checkm8 support). Or maybe i'm blind?

[2020-03-15 17:26] ToreHQ12 opened #41 "failed to enter pwned dfu recovery mode"
i got always this error, in all the beta's

[2020-03-16 21:54] thisIsTheFoxe commented on #16
Had the same prob. with iPhone 5, iOS 6.1.4 on Catalina. What fixed it was getting the (Global) IPSW instead of the (GMS). :)

[2020-03-19 09:39] jailhousej commented on #41
use the beta linked to issue 10
[here](https://github.com/synackuk/n1ghtshade/issues/10)

[2020-03-19 09:40] jailhousej commented on #35
[Use the beta in this issue post](https://github.com/synackuk/n1ghtshade/issues/10)

[2020-04-03 19:04] NikkotheAIDEV opened #42 "Can I downgrade iPhone 5 to iOS 6?"

[2020-04-05 16:34] marleyqp commented on #33
Also, iOS 7 doesn’t have this issue. Tested yesterday

[2020-04-09 09:51] elderwolf123 commented on #29
Any support for Ipad 2,1 coming? Nothing out there supports it so I can't access pwnDFU or OTA downgrade

[2020-04-19 01:47] mrichardist opened #43 "Failed to enter pwned recovery mode"
iPhone 5,2
Mac OS X Sierra
iOS 6.0.2, 6.1, 7.0.6

I've tried all the betas every since Sierra support but no luck. I can't enter pwndfu mode via n1ghtshade so I manually enter pwndfu mode via terminal. I keep getting Failed to enter pwned recovery mode

[2020-05-04 05:45] iptv69 commented on #42
yes

[2020-05-10 17:27] loonbgg opened #44 "Windows Support"
Is it possible some one to port that tool to Windows ?

[2020-05-12 15:32] nguyenthanh1001 commented on #42
How to downgrade iPhone 5 from iOS 10.3.4 to iOS 6.0 . https://youtu.be/eOCSlMMERSE

[2020-05-16 14:24] ithamarkap opened #45 "After "Restoring Device" It says "Failed to restore device""
iPhone 5c 5,3, MacOS Mojave Mac Mini 2011.

[2020-05-16 21:14] synackuk commented on #44
@loonbgg *Possibly*, however I suspect it is challenging due to the fact the checkra1n people are having difficulty with it. I will however be building linux support into the next version, meaning it should be easy for you to use :)

[2020-05-16 21:14] #44 closed

[2020-05-16 21:15] synackuk commented on #45
The upcoming version will include a new idevicerestore, hopefully rectifying these issues.

[2020-05-16 21:16] synackuk commented on #39
This issue is due to hactivation, I am thinking of adding an option to disable hacktivation in the upcoming version which will fix this

[2020-05-16 21:16] synackuk commented on #36
@Charliefr3sh did you run the jailbreak option?

[2020-05-16 21:17] synackuk commented on #35
@iponurovskiy All checkm8 related issues should be fixed in the upcoming version.

[2020-05-17 03:25] ithamarkap commented on #45
Thank you very much!

On Sun, May 17, 2020, 00:15 synackuk <notifications@github.com> wrote:

[2020-05-18 13:38] galantee opened #46 "Unable to start device after reboot without boot"
Iphone 5 downgrade to ios 6.1.4 with n1ghtshade beta 9 and 'booted' by beta 8, but after each reboot it needs to 'boot' by beta 8, is it ok?

[2020-05-28 16:33] arckadious opened #47 "Iphone don't boot anymore"
MacOS Sierra, Iphone 5c. I used the beta 12. Sometimes, I have to restart again my Iphone to put it again in DFU Mode, to make nightshade detect the iphone in DFU. I tried two ipsw : 7.1.2 for iphone 5c and 7.0.2 for iphone 5c.

The problem is in the end of the installation (nightshade show "Done"), because the phone don't reboot anymore (no apple logo). One another thing, the DFU mode is still wo

[2020-05-28 16:54] arckadious commented on #47
I tried to boot thetered even if the iPhone didn't boot after the downgrade, but it's still not working (stuck on "execute payload" again).

[2020-05-28 17:02] arckadious commented on #47
finally i found, i had to try again and again

[2020-05-28 17:20] arckadious commented on #47
So basically, the iPhone work, but there is one problem, when I turn off my phone, and turn on again, it don't boot anymore, so I have to do a boot thetered again to make it boot properly..

[2020-06-07 23:30] Chicko-iOS commented on #37
I've just had... bad experiences with Catalina.

[2020-06-07 23:40] Chicko-iOS commented on #37
I wonder what's happening...

[2020-06-19 01:55] MattStar45 commented on #47
This is not an issue with n1ghtshade, that’s just the nature of using tools like it, please close the issue

[2020-06-19 08:05] #47 closed

[2020-06-19 14:56] Harold62 opened #48 "Cannot Use Bluetooth In 7.0.6/7.1.2"
No bluetooth pane in the settings app on either i7 version, on 7.1.2 it's greyed out in control centre, works fine on iOS6x

[2020-06-21 04:19] arceuss opened #49 "trying to boot just results in a green screen of death"
i have no idea what to do

[2020-06-23 00:34] synackuk commented on #39
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:34] #39 closed

[2020-06-23 00:34] synackuk commented on #49
Please wait for your device to charge.

[2020-06-23 00:34] #49 closed

[2020-06-23 00:34] synackuk commented on #48
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:34] #48 closed

[2020-06-23 00:35] synackuk commented on #46
This is due to the nature of checkm8 as only allowing tethered jailbreaks.

[2020-06-23 00:35] #46 closed

[2020-06-23 00:35] synackuk commented on #45
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:35] #45 closed

[2020-06-23 00:35] synackuk commented on #43
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:35] #43 closed

[2020-06-23 00:35] synackuk commented on #42
yes

[2020-06-23 00:35] #42 closed

[2020-06-23 00:35] synackuk commented on #41
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:35] #41 closed

[2020-06-23 00:36] synackuk commented on #40
Does this issue still exist in RC1?

[2020-06-23 00:36] synackuk commented on #37
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:36] #37 closed

[2020-06-23 00:37] #36 closed

[2020-06-23 00:37] synackuk commented on #35
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:37] #35 closed

[2020-06-23 00:37] synackuk commented on #34
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:37] #34 closed

[2020-06-23 00:37] synackuk commented on #33
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:37] #33 closed

[2020-06-23 00:38] synackuk commented on #28
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:38] #28 closed

[2020-06-23 00:38] synackuk commented on #26
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:38] #26 closed

[2020-06-23 00:38] synackuk commented on #23
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:38] #23 closed

[2020-06-23 00:39] synackuk commented on #17
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:39] #17 closed

[2020-06-23 00:39] synackuk commented on #10
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:39] #10 closed

[2020-06-23 00:39] synackuk commented on #7
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:39] #7 closed

[2020-06-23 00:39] synackuk commented on #6
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:39] #6 closed

[2020-06-23 00:39] synackuk commented on #30
This is fixed in [n1ghtshade rc1](https://github.com/synackuk/n1ghtshade/releases/tag/RC1),  you must re-restore your device after upgrading to it.

[2020-06-23 00:39] #30 closed

[2020-06-23 08:52] akshay7802 opened #50 "iPhone 5c iOS 9.2 stuck"

[2020-06-23 08:52] akshay7802 commented on #50
Updating baseband (19)
Updating Baseband in progress...
About to send BasebandData...
Sending Baseband TSS request...
Request URL set to https://gs.apple.com/TSS/controller?action=2
Sending TSS request attempt 1... response successfully received
Received Baseband SHSH blobs

[2020-06-23 11:07] synackuk commented on #50
@akshay7802 How long was n1ghtshade stuck here?

[2020-06-23 11:58] akshay7802 commented on #50
after 30 mins or so then it progressed and got stucked again on About to send basebandData

[2020-06-23 12:03] synackuk commented on #50
30 mins? Seems like an internet problem or a problem with your usb cable

[2020-06-23 12:09] akshay7802 commented on #50
ok i'll just try again.
should i flash 10.3.3 first?

[2020-06-23 12:17] synackuk commented on #50
@akshay7802 no need

[2020-06-23 13:44] 4n0r3w97 opened #51 "iPhone5,2 will not successfully restore with RC1."
Hi,
I have tried iOS 8.0,8.0.1 & iOS 9.0. I get an error after restore appears to complete saying 'error in libbelladona.c:937 "No device found." Failed to restore IPSW.

[2020-06-23 14:03] synackuk commented on #51
Can you post the whole log?

[2020-06-23 14:06] 4n0r3w97 commented on #51
@synackuk I can't as I no longer have it. Basically the device successfully restores and does everything correctly. The program then says done and when I click the back button to go to boot up the device the error appears in terminal.

[2020-06-23 14:12] synackuk commented on #51
If it restores properly does the device boot when you use boot tethered?

[2020-06-23 14:13] 4n0r3w97 commented on #51
No it boots to recovery mode.

[2020-06-23 14:14] 4n0r3w97 commented on #51
@synackuk it fails to upload iBEC.

[2020-06-23 14:23] synackuk commented on #51
in which case how did it successfully restore

[2020-06-23 14:29] 4n0r3w97 commented on #51
@synackuk The logs says restore status finished and the says done. It's after I click the back button after that. That's when it fails.

[2020-06-23 14:41] 4n0r3w97 commented on #51
@synackuk after the restore is complete the device  blacklight turns on but that's it.

[2020-06-23 14:45] 4n0r3w97 commented on #51
@synackuk This is the log from the part is fails at. See below.

2020-06-23 15:42:43.334 n1ghtshade[1978:455367] Got status message
2020-06-23 15:42:43.334 n1ghtshade[1978:455367] Status: Restore Finished
2020-06-23 15:42:43.336 n1ghtshade[1978:455367] Cleaning up...
2020-06-23 15:42:43.336 n1ghtshade[1978:455367] DONE
2020-06-23 15:42:43.341 n1ghtshade[1978:455367] Done.
2020-06-23 15:43:12.590 n

[2020-06-23 14:47] 4n0r3w97 commented on #51
@synackuk now the device will execute iBEC during tethered boot and will execute everything else to enable the boot, however it stills boots into recovery mode.

[2020-06-23 15:53] akshay7802 commented on #50
Restoring device
ERROR: Unable to discover device mode. Please make sure a device is attached.
Error in libbelladonna.c:968 "Failed to restore device."Failed to restore IPSW.

[2020-06-23 17:00] 4n0r3w97 commented on #51
@synackuk any news?

[2020-06-23 17:30] Harold62 opened #53 "Apps crash after jailbreak on iOS 7x"
Also no apps will download after jailbreak, I'm guessing this is because there's no hacktivation? Also after a little while, cellular services/Imsg/Facetime all stop working, for me approx an hour after jailbreaking. Thanks for your hard work I really appreciate it.

[2020-06-23 17:43] Harold62 commented on #51
@4n0r3w97 Can you try iOS 6 or 7 and see if that works?

[2020-06-23 17:52] Harold62 commented on #53
Just a side-note, All downloaded apps crash, including calendar, mail, weather, maps, calculator and safari. Tested on 7.0.6/7.2.1

[2020-06-24 04:41] CodeyMoore opened #54 "Unable to restore iPhone 5 to iOS 7 and 8"
iPhone 5 on iOS 10.3.4 unable to restore to iOS 7 and 8 using N1ghtShade

Log below
"checkm8 by axi0mX
Grooming heap
Preparing for overwrite
Grooming heap
Overwriting task struct
Uploading payload
Executing payload
Device is now in pwned DFU mode
Finding iBSS for device
Uploading iBSS
Executing iBSS
Finding iBEC for device
Uploading iBEC
Executing iBEC
Uploading atropine hooker
Executing hooker
Up

[2020-06-24 06:24] #50 closed

[2020-06-24 10:51] #54 closed

[2020-06-24 10:52] CodeyMoore commented on #54
Fixed it by install all the dependencies.

[2020-06-26 02:33] synackuk commented on #53
Merging with #55

[2020-06-26 02:33] #53 closed

[2020-06-26 02:34] synackuk commented on #51
Very odd you get successful restore followed by no device found. Not immediately obvious what's caused that

[2020-06-26 04:54] HexagonWin opened #56 "Safari Doesn't work"
Hi. I am using the iPhone5,2 16gb version.
I use my pc hackintosh 10.14.4 mojave.
I downgraded my phone to iOS 6.1.4, and after jailbreak and some time (didnt even install a tweak. just tapped install cydia in the app) the safari app stopped working. It crashes when i launch.
So, I downgraded to 7.1.2 and did the same. the same thing happens.
How can i fix this? is this theproblem of my phone?

[2020-06-26 06:23] HexagonWin commented on #56
Add : I reinstalled the 6.1.4 and it seemed to work after jb.
After installing the tweak "Poof" it stopped working like first.
However, on a iPhone 4s that isn't upgraded since 6.1.4 and a another i5 with iOS 6.1.4 coolbooter, the tweak works fine.
Is it a problem with the tweak or the n`ghtshade?

[2020-06-26 07:31] 4n0r3w97 commented on #51
Hi,

Having successfully restored and booted iOS 9.3.5 (the only firmware that does) I believe that I could be to do with the part of the code responsible for tether booting the device. I say this as I am able to boot up other versions of iOS as they boot to recovery mode when tethered booting. I then manually boot up the device using instructions from Ch3rryflower. Below I have attached a link to

[2020-06-26 08:23] HexagonWin commented on #56
Add2 : It seems like the problem in the phone.
Also springtomize causes the issue too.
I tried on the other 5, and it has no problem.
Sorry,,

[2020-06-26 08:27] HexagonWin commented on #56
After re-booting the other 5, the issue re-occurs.
I also tried to remove the tweak, and still the same.
I did the exact same thing on my 4s and it had no problem
I think it is. a problem with this..

[2020-06-26 14:56] HexagonWin commented on #56
Also add : Now, I also found out that the mail app also stopps working.
I tested 7.1.2, 6.1.4, and 6.1.0 now. everything has the same problem.
Even in 6.1.0, i just jailbroke and finished upgrade for things on cydia and installed nothing. After reboot, safari and mail crashes!

[2020-06-27 11:24] arron1983 opened #57 "Failed to boot tethered"
Hi,

restored my iPhone5 to iOS6.1.4, the activation failed.
There was even no button to close the activation failure window, seems like a bug.
Trying to power off and tether boot again,

But always failed with the reason:

[2020-06-27 12:16] stanleylhs commented on #57
Close n1ghtshade and restart it. (Reboot computer may help)

Make sure you are really in DFU, verify with iTunes popup.

[2020-06-27 15:41] synackuk commented on #56
Hello, I shall investigate this...

[2020-06-27 15:41] synackuk commented on #57
And make sure you've disabled bluetooth

[2020-06-27 15:41] #57 closed

[2020-06-28 12:20] HexagonWin commented on #56
Thanks!
Also, when i install tweak named BatteryDoctorPro the same thing happens but it is only sometimes.
The Beta versions are all failing on my hackintosh so i cannot test other versions

[2020-06-29 20:16] SaadAbbassi4 opened #58 "Support for virtual machine/older macOS"
Hey!
I have an old MacBook (early 2011) but it only supports up to High Sierra (10.13.6) could I run it on a virtual machine?
TIA
Edit: or even better, can I run it on 10.13?

[2020-06-30 08:19] SaadAbbassi4 commented on #29
Use the same tutorial as for the iPhone 4S

[2020-06-30 09:28] elderwolf123 commented on #29
i tried that hence why im asking as its not working

[2020-07-03 14:27] synackuk commented on #58
@SaadAbbassi4 I wasn't aware n1ghtshade doesn't run on high sierra? I'll look into this

[2020-07-03 14:28] #40 closed

[2020-07-03 14:30] synackuk commented on #51
@4n0r3w97 Does recovery mode include the [recovery mode logo](data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIASMArQMBIgACEQEDEQH/xAAcAAEAAgIDAQAAAAAAAAAAAAAAAQcDCAIEBgX/xABOEAABAwIBBgkGCwQHCQAAAAAAAQIDBBEFBgcSITV

[2020-07-03 14:36] 4n0r3w97 commented on #51
Yes

Sent from ProtonMail Mobile

On Fri, Jul 3, 2020 at 3:30 p.m., synackuk <notifications@github.com> wrote:

[2020-07-04 23:23] mariobrostech opened #59 "Add n1ghtshade to Homebrew"
Hi, and thanks for developing n1ghtshade!

n1ghtshade is a perfect application to be distributed via Homebrew for a few reasons. Firstly, it gets frequent updates, and secondly, it requires many dependencies, which can all be installed when the n1ghtshade binary is installed, and the dependencies are kept updated when running the `brew update` command.

To find out how to do this, read the Contrib

[2020-07-06 01:51] synackuk commented on #59
This seems like a solid idea

[2020-07-06 08:18] Merculous opened #60 "GLOBAL_CFLAGS: command not found"
% ./autogen.sh
Submodule path 'belladonna': checked out '9cd3e22f2335b14fbbd16737453f9efbe06eb4a6'
aclocal: warning: couldn't open directory 'm4': No such file or directory
aclocal: warning: couldn't open directory 'm4': No such file or directory
checking build system type... x86_64-pc-linux-gnu
checking host system type... x86_64-pc-linux-gnu
checking target system type... x86_64-pc-linux-gnu
che

[2020-07-06 14:17] synackuk commented on #60
@Merculous try to `apt install autoconf-archive`

[2020-07-06 15:20] zzanehip opened #61 "irecv_async_usb... Implicit Declaration"
CC       exploits/checkm8/libbelladonna_a-checkm8.o
exploits/checkm8/checkm8.c:119:13: error: implicit declaration of function
      'irecv_async_usb_control_transfer_with_cancel' is invalid in C99
      [-Werror,-Wimplicit-function-declaration]
        int sent = irecv_async_usb_control_transfer_with_cancel(dev, 0x2...
                   ^
1 error generated.

Tested on Mac 10.15, only seems to be

[2020-07-06 16:06] Harold62 opened #62 "RC2 and RC3 both incompatible with 10.14.6 Mojave?"
RC2 error: Check with the developer to make sure n1ghtshade works with this version of macOS. You may need to reinstall the application. Be sure to install any available updates for the application and macOS.

RC3 error: You can't open the application "n1ghtshade" because it may be damaged or incomplete.

[2020-07-06 23:37] Merculous commented on #60
That did make it so I could start compiling but now it cant find irecovery libs...

% make                                                                                               ✹ ✭
make  all-recursive
make[1]: Entering directory '/home/merculous/Documents/n1ghtshade'
Making all in belladonna
make[2]: Entering directory '/home/merculous/Documents/n1ghtshade/belladonna'
make  all-recursive
m

[2020-07-06 23:39] Merculous commented on #60
I'm assuming the libs are now irecovery-1.0?

-rw-r--r-- 1 root root   244528 Jul  6 08:27 libirecovery-1.0.a
-rwxr-xr-x 1 root root     1013 Jul  6 08:27 libirecovery-1.0.la
lrwxrwxrwx 1 root root       25 Jul  6 08:27 libirecovery-1.0.so -> libirecovery-1.0.so.3.0.0
lrwxrwxrwx 1 root root       25 Jul  6 08:27 libirecovery-1.0.so.3 -> libirecovery-1.0.so.3.0.0
-rwxr-xr-x 1 root root   126544 Jul

[2020-07-07 00:31] Merculous commented on #60
I've fixed the symlink but now I get same issue as #61

% make
make  all-recursive
make[1]: Entering directory '/tmp/belladonna'
Making all in src
make[2]: Entering directory '/tmp/belladonna/src'
Making all in exploits/checkm8/payload
make[3]: Entering directory '/tmp/belladonna/src/exploits/checkm8/payload'
make[3]: Nothing to be done for 'all'.
make[3]: Leaving directory '/tmp/belladonna/src/ex

[2020-07-07 00:34] Merculous commented on #60
Cool, that fixed the issue.

[2020-07-07 00:34] #60 closed

[2020-07-07 02:57] synackuk commented on #62
@Harold62 Please redownload RC3?

[2020-07-07 02:58] synackuk commented on #61
@zzanehip Make sure to use my version of libirecovery

[2020-07-07 02:58] #61 closed

[2020-07-07 06:12] Harold62 commented on #62
That’s the first thing I tried

[2020-07-07 16:41] Harold62 commented on #62
Works on my other Mac.

[2020-07-07 16:41] #62 closed

[2020-07-07 18:18] zzanehip commented on #61
Fixed...accidentally overwrote yours with libimobileidevice’s 👍

[2020-07-08 10:40] HexagonWin commented on #58
I think even the Beta versions work in Sierra (not high sierra)
I had used this tool when i had my sierra hackintosh pc.

[2020-07-08 12:34] SaadAbbassi4 commented on #58
Yeah, but only beta versions not the RC ones

Le mer. 8 juil. 2020 à 11:40, HexagonWin <notifications@github.com> a
écrit :

[2020-07-13 12:02] sdrtgfdsqzer opened #63 "Not work"
Not work with

iOS 6 iPad 2 Rev 2012 (iPad2,4)
iOS 8 iPad 2 Rev 2012 (iPad2,4)
iOS 6 iPad 3 (iPad 3,2)
iOS 8 iPad Mini 1
iOS 6 iPad Mini 1

[2020-07-15 06:06] HexagonWin commented on #56
Tested RC3 now, and the issue is the same.
I wish this gets solved.
Also, I found out that it works in Safe Mode.
But no suspect in CrashReporter

[2020-07-15 12:56] mariobrostech opened #64 "Add support for iOS 10.0 - 10.3.3 on A6 devices"
Is there any way that support for iOS 10.x can be added for A6 devices (iPhone 5 and iPad 4)?

Thanks!

[2020-07-17 06:34] HexagonWin commented on #56
Should I post the log in CrashReporter?
I am using it as a main phone and I am tired of Safari

[2020-07-19 10:03] SaadAbbassi4 commented on #63
BECAUSE IT'S ONLY COMPATIBLE WITH A6 AND A6X (iPhone 5/iPad 4)

[2020-07-19 10:07] SaadAbbassi4 opened #65 ""Error in libbelladonna.c:845 "Failed to download kernel."""
Hey!
I tried to activate 8.4.1 with n1ghtshade but it won't work it gives me this error:
`Error in libbelladonna.c:845 "Failed to download kernel."`
Thanks!

[2020-07-19 10:38] #58 closed

[2020-07-20 02:56] CenoX opened #66 "Unable to boot since RC releases"
I restored my iPhone 5 to iOS 6.1.4 on n1ghtshade beta 10.

Until Beta 12, it often didn't work, but sometimes it success and booted.
(stuck in `grooming heap` or `Downloading iBSS | iBEC` state or crash)
However, after the RC release, the boot loader screen appears, but it stops and does not proceed.

If I have to wait in that state, please close the issue.
If not, please notice me how to resolve

[2020-07-20 03:01] thisismartinn commented on #66
You have to restore your iOS version when "upgrading" to RC1 and later, you can't boot your restored-with-Beta12 iOS with RC1.

[2020-07-20 03:03] CenoX commented on #66
Thanks for quick reply. but there is no description about that.
How about add that description on README or somewhere?

[2020-07-20 03:05] thisismartinn commented on #66
He did posted that on Twitter tho: https://twitter.com/synackuk/status/1275224141692653568

[2020-07-20 03:08] CenoX commented on #66
Oh twitter... checked

[2020-07-20 03:08] #66 closed

[2020-07-20 06:03] HexagonWin commented on #56
So, i found a way to fix this!
The reason is because n1ghtshade's jb installs a bit older version of Cydia Substrate
So, I deleted Cydia Substrate and then installed the 0.9.7100 version of it from the repo.mtmdev.org repo.
This fixes all the problem and it all works!
@synackuk I think you have to change the version of Cydia Substrate that n1ghtshade installs

[2020-07-21 00:51] #56 closed

[2020-07-25 12:57] Iphone5-RecoveryMode opened #67 ""Error in Libbelladonna c:968" Failed to restore device"
Iphone 5, iOS 10.3.4.
I was restoring to 6.0 after I had done it before, and updated to 8.1.4.
<img width="326" alt="Screen Shot 2020-07-25 at 21 49 17" src="https://user-images.githubusercontent.com/68778920/88457472-be9a1380-cec1-11ea-8ede-35f55d3077bd.png">
<img width="484" alt="Screen Shot 2020-07-25 at 21 22 41" src="https://user-images.githubusercontent.com/68778920/88457474-c0fc6d80-cec1-11

[2020-07-25 13:00] Iphone5-RecoveryMode commented on #65
I also had a problem with libbelladonna. Ill be trying to uninstall n1ghtshade and will try to use the release before.

[2020-07-27 07:28] thisismartinn opened #68 "The device won't boot to SpringBoard after the battery died and charged up a bit."
iPhone 5,2; iOS 6.1.4. I left the device dead, and after plugging it in for a bit then boot with n1ghtshade, it stucks in the verbose boot and never load SpringBoard. I had to restore the device.

[2020-07-28 23:20] p0sin opened #69 "No n1ghtshade app on the iPhone 5C homescreen on jailbroken iOS 9.0 beta 1"
I just tethered downgraded to iOS 9.0 beta 1 on my iPhone 5C and tethered jailbroke with n1ghtshade as well. There's absolutely no n1ghtshade app on the device's homescreen at all. Been working on fixing this literally all day. No solution yet. Even turned off Bluetooth on both my Mac and iOS device in hopes of resolving this issue. My Mac I use n1ghtshade on is a MacBook Pro early 2015 with macOS

[2020-07-29 03:12] Iphone5-RecoveryMode commented on #69
there isn't a nightshade app.

[2020-07-29 05:15] Merculous opened #70 "Segmentation fault during checkm8 usage"
OS: Ubuntu 18.04.4

I absolutely suck with gdb, and debugging C stuff in general, fyi.

Well, if this is enough to go by, I'm getting this output when trying to pwn DFU.

gdb --args n1ghtshade -p
GNU gdb (Ubuntu 8.2-0ubuntu1~18.04) 8.2
Copyright (C) 2018 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free

[2020-08-01 01:23] B3ATDROP3R commented on #56
I am commenting here because I believe the owner should at least include something about this in the readme for others (like myself) who had this issue.

[2020-08-07 01:39] p0sin commented on #69
Might be because n1ghtshade doesn't support jailbreaking iOS 8.0 - 9.3.5 or iOS 10 yet.

[2020-08-07 05:29] DonkeyKongJr1982 opened #71 "iPhone 5,1 (64GB) not being detected by n1ghtshade downgrade"
Trying to downgrade to iOS 6. When I connect the iPhone in DFU mode, the downgrade process never starts and always tells me to "Try again?". Help!

[2020-08-07 07:26] #71 closed

[2020-08-07 08:09] DonkeyKongJr1982 opened #72 "Mail and Safari do not launch on iPhone 5,1 64GB iOS 6.0"
These two apps crash on launch.

[2020-08-07 11:05] thisismartinn commented on #72
This is a compatibility issue with the current version of Cydia Substrate.

You should update the substrate to version 0.9.7101 via the repo http://repo.mtmdev.org/ to fix the issue.

[2020-08-08 00:20] DonkeyKongJr1982 commented on #72
i'm stupid lmao

[2020-08-08 00:20] #72 closed

[2020-08-08 00:22] DonkeyKongJr1982 opened #73 "iMessage not activating after downgrading to 6.0 on iPhone 5,1 64GB"
FaceTime no longer works on iOS 6, but iMessage works on every version it was present on, including iOS 5 on the iPad 1.

[2020-08-11 17:41] DonkeyKongJr1982 opened #74 "Boot fail after battery ran out"
ls: cannot access /etc/rc.d: No such file or directory
launchctl: Couldn't stat ("/Library/LaunchDaemons/com.openssh.sshd.plist"): No such file or directory
nothing found to unload
sh: /usr/libexec/sshd-keygen-wrapper: No such file or directory
Done.

[2020-08-13 06:19] #73 closed

[2020-08-13 08:57] yiesum opened #75 "Would it possible to made tethered boot for Windows?"
I just downgraded my iphone 5,2 to ios 9.02 successfully. It's really a fantastic tool but a littel flaw.
As most people dont have Mac, so it will be convenient if the hacked idevice could been booted in Windows.
Would it possible to add the only feature for Windows?

[2020-08-14 20:11] stefanstfan2005 commented on #67
I have the same issue. Is there a fix?

[2020-08-16 06:39] Iphone5-RecoveryMode commented on #67
nope...
im not tryna be rude to the devs, but idk if this project has reached eol.

[2020-09-09 10:02] simarsekhon opened #76 "no jailbreak with nightshade in iOS 9.3.5"
After its say done. my iPhone 5 didn’t wakeup and I still got black dim light.

[2020-09-09 10:06] simarsekhon opened #77 "all time boot tethered"
i have iphone 5 and i downgrade to ios 8.4.1. if i switch off the phone and again try to on. it did not boot up and i again got black dim light.

[2020-09-16 12:41] SuleMareVientu commented on #67
If you get this error it means that your USB port doesn't work or that you have a slow internet connection. Try change USB port.

[2020-09-25 14:16] JamesLewisLiu opened #78 "iPad3,1 cannot restore ipsw."
It just pop up an error message
"Error in libbelladonna.c:300 "Device not supported."Error in libbelladonna.c:643 "Failed to put device in pwned DFU mode."Error in libbelladonna.c:946 "Failed to put device in pwned DFU mode."Failed to restore IPSW."
But iPad3,1 use an A5X should be supported
How to solve it?
![image](https://user-images.githubusercontent.com/17558260/94277908-c7b86700-ff7c-11ea-85

[2020-09-26 07:44] BakaMamizou opened #79 "Cant open in 10.15.7"
Here is log
Process:               n1ghtshade [3117]
Path:                  /Users/USER/Desktop/n1ghtshade.app/Contents/MacOS/n1ghtshade
Identifier:            com.synackuk.n1ghtshade
Version:               0.01 (0)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           n1ghtshade [3117]
User ID:               501

Date/Time:             2020-09-26 15:42:52.10

[2020-09-28 21:43] #63 closed

[2020-09-28 21:43] synackuk commented on #64
@mariobrostech Yes, this will be done eventually. There is some other stuff which is priority first tho

[2020-09-28 21:44] synackuk commented on #65
@SaadAbbassi4 What iPhone?

[2020-09-28 21:45] synackuk commented on #67
@Iphone5-RecoveryMode Can you send the whole log

[2020-09-28 21:46] synackuk commented on #68
@thisismartinn Did you jailbreak?

[2020-09-28 21:47] synackuk commented on #69
@p0sin Interesting, I've not tried beta versions so this may be an issue. Will investigate

[2020-09-28 21:48] synackuk commented on #70
@Merculous Interesting, is this a cli app?

[2020-09-28 21:48] synackuk commented on #74
@DonkeyKongJr1982 Does it get stuck here?

[2020-09-28 21:49] synackuk commented on #75
@yiesum Possibly in the future, this is relatively complex afaik however.

[2020-09-28 21:50] synackuk commented on #76
@simarsekhon You need to tethered boot

[2020-09-28 21:50] #76 closed

[2020-09-28 21:50] synackuk commented on #77
@simarsekhon Correct it's not an untethered jailbreak

[2020-09-28 21:50] #77 closed

[2020-09-28 21:50] Merculous commented on #70
What I sent was the binary passed into gdb to try and debug what failed. I'm no good with gdb but it did give me the same error without it.

[2020-09-28 21:50] synackuk commented on #78
@JamesLewisLiu A5X isn't currently supported, this will be added tho.

[2020-09-28 21:52] synackuk commented on #79
@BakaMamizou Are you using the latest version?

[2020-09-29 06:07] SaadAbbassi4 commented on #65
iPad 4

Le lun. 28 sept. 2020 à 22:44, synackuk <notifications@github.com> a écrit :

[2020-09-30 17:35] DonkeyKongJr1982 commented on #74
Yes.

[2020-10-02 00:07] p0sin commented on #69
@synackuk Thanks for investigating.

[2020-10-02 00:07] #69 closed

[2020-10-03 18:29] synackuk commented on #74
@DonkeyKongJr1982 What iOS version and did you have any tweaks installed?

[2020-10-03 18:30] synackuk commented on #70
@Merculous Ahh this is ubuntu, Okay, I'll investigate this (Linux isn't *fully* supported afaik)

[2020-10-03 18:32] synackuk commented on #51
@4n0r3w97 Seems to be either an issue with the restore not working properly or the boot then right enough. Will investigate

[2020-10-04 09:13] Harold62 opened #80 "Safari crashes on seemingly every version"

[2020-10-04 09:19] Harold62 opened #81 "IOS 7x unstable"
After downloading a couple tweaks on IOS 7x I get respring loops very often with supported tweaks, it does not go into substrate safe mode like all other versions. There's nothing I can do except for restoring the device and starting over, it's probably happened 4 times all with different supported tweaks each time. Maybe it's just a buggy version poorly made by apple I'm not sure.

[2020-10-05 19:06] victorttitan opened #82 "After Boot, black screen and charging sound loop"
rc2
iPhone5,2
macOS 10.15.7

When I flash or boot, I do not see the verbose log, but all is Ok in the ap

After boot, the screen remains black and the charge connector sound is looped
Anybody can help me? thanks

sorry for the very bad english

[2020-10-07 10:35] emad2333 commented on #67
hi get the same error iphone 5c downgrade to ios 9.2

[2020-10-08 02:15] emad2333 opened #83 "cannot jailbreak"
iphone 5c downgraded to ios 9.3.3 but i cannot jailbreak sits on grey screen

[2020-10-15 20:00] godbot100 opened #84 "Tethered boot does not work"
When install cydia substrate on ios 6 if the phone shuts off or dies trying to tether boot it does not work.
I am guessing I am doing something wrong. Thanks for the help

[2020-10-15 20:10] godbot100 commented on #68
so I am guessing this only happens if you jailbreak?

[2020-10-16 16:08] Seu07 commented on #69
@synackuk Excuse me, I used n1ghtshade  to downgrade iPad4 to ios 9.2.1 successfully. But no luck to jailbreak it. Do we still have way to jailbreak after tethered downgrade? Thanks)

[2020-10-18 03:28] obsolete00 commented on #65
I got the same message on iPad 4 A1458

[2020-10-18 08:51] SaadAbbassi4 commented on #65
Did you found a solution?

[2020-10-18 09:20] #65 closed

[2020-10-18 09:22] SaadAbbassi4 opened #85 "n1ghtshade RC1 fails to jailbreak on iPad3,4"
Hey!
I tried to activate 8.4.1 with n1ghtshade on an iPad 4 but it won't work. It gives me this error:
`Error in libbelladonna.c:845 "Failed to download kernel."`
Thanks!

[2020-10-29 03:47] mariobrostech commented on #59
@synackuk Just to give you a quick update, I've been looking into how to contribute to Homebrew, and I think I've got things down pretty well now. I've submitted a PR to add n1ghtshade to Homebrew, and you can view the status of it [here](https://github.com/Homebrew/homebrew-cask/pull/91640).

Thanks again for your great work with this project!

[2020-11-01 02:31] mariobrostech commented on #59
@synackuk I just closed the PR on homebrew/cask because I couldn't find some of the dependencies you outlined in the README, and I don't want to merge a half-baked PR. The commit is still in the PR, though, and it should be pretty self-explanatory if you look at what I have so far. Let me know how to get the dependencies, and I'll fix it up, or you can just do it yourself (the guide on GitHub is r

[2020-11-03 08:48] huutho-dev commented on #67
same error on ip 5c

[2020-11-05 15:59] K0smas commented on #67
Same error on 5c downgrading to 7.1.1, both ip5,3 and ip5,4 models

[2020-11-07 05:18] hrishi1992 opened #86 "iPhone 5C doesn't boot anymore."
I'm using MacOS High Sierra. I tried using the RC3 and Beta 12 of n1ghtshade to downgrade iPhone 5C(A1529) from iOS 10.3.3 to iOS 7.1.2/iOS 8.4.1. n1ghtshade says done everytime but the iPhone doesn't boot up. No logo. Nothing. Only itunes detects it and then I had to restore it back up to 10.3.3 and tried again except this time on iOS 8.4.1. Nothing changed. It still doesn't boot up. Am I doing s

[2020-11-12 17:04] MatrixBGD commented on #42
Anything I do I cannot overcome the Error Unable to connect to FDR client (-2)
iPhone 5 ; MacOS 10.4.6 n1ghtshade V 0.01 (have tried also Beda Version, didn't work).
I am pretty sure that I have entered into DFU mode correctly.

[2020-11-12 17:39] MatrixBGD commented on #67
Same here....

[2020-11-15 23:58] beangoosedev opened #87 "Some apps not loading on iOS 8.1.1"
On iOS 8.1.1, some apps don’t load at all

[2020-11-18 12:32] zaxkh commented on #86
Did you use the boot tethered option after the restore?

[2020-11-20 06:31] h4zq commented on #67
@MatrixBGD @K0smas @huutho-dev @emad2333 I've got it fixed by unplugging all USB device and hub on my computer. When it started to "Restoring device", unplug lightning connector from your device then quickly plug in back, n1ghtshade will detect your device and will start to restore the device. Good luck!

![Screenshot 2020-11-20 at 14 17 56](https://user-images.githubusercontent.com/24808625/99766

[2020-12-03 05:47] emad2333 opened #88 "iphone 5 suddenly yellow screen n1ghtshaded downgraded to ios 8.4.1"
Suddenly my iphone 5 iPhone5,1 displayed yellow screen today , it was downgraded with n1ghtshade to ios 8.4.1

any fixes

[2020-12-06 17:06] hrishi1992 commented on #86
Thank you so much. That did the trick. I feel so dumb. Well at least someone else having the same problem doesn't need to make a new thread. Downgraded successfully back to 7.1.2.

I have 2 questions-
Can I restart the phone without having to worry about anything?
Also any way to turn off two step verification? I can't seem to login to iPhone 5c. It doesn't show the page prompting to enter 6 digit

[2020-12-09 15:27] freza1 commented on #86
@hrishi1992 I downgraded from iOS 10.3.3 to iOS 8.1.2 and I can't seem to restart it. I retried the Boot Tethering option, and it kept saying "Failed to pwn device in dfu mode" with a 689 error. There seemed to be a boot loop occurring and the phone wouldn't stay in DFU. Were you able to find a fix? Also to answer your second question, two step can be turned off in your apple account, or iTunes.

[2020-12-09 16:16] hrishi1992 commented on #86
For me boot tethered worked. I tried Beta11 and RC3. I preferred Beta11. Easier to use. I'm guessing you have find a way to keep your phone from rebooting 'EVER'. If it reboots then you only have one option to connect to itunes and flash it with iOS 10.3.3(for 5C) and then rinse and repeat the entire process until you succeed. Kudos to the developers efforts but I have found little use because my

[2020-12-09 16:18] hrishi1992 commented on #86
I didn't come across that particular issue. I'm sorry I can't be of more help.

[2020-12-10 09:30] hrishi1992 commented on #86
I didn't come across that particular issue. I'm sorry I can't be of more help

[2020-12-10 09:30] #86 closed

[2020-12-13 03:29] drew-star opened #89 "iPad 2,1 can't downgrade"
I'm having problems with downgrading my iPad 2 WiFi (2,1). I'm getting errors that it isn't supported but everywhere it says it is. I got the IPSW from IPSW.me. Help?

[2020-12-20 16:20] BITBOARDDEV commented on #74
@synackuk  just had a similar issue but if you load the device in nosubstrate mode (volume up during boot) the device can boot just fine.

Tweaklist:
7-zip (POSIX) - 4.57-3p
Activator - 1.9.13
AppInfo - 1.6.2
AppSync Unified - 84.0
APT 0.7 (apt-key) - 0.7.25.3-3
APT 0.7 Strict (lib) - 0.7.25.3-16
Base Structure - 1-4
BigBoss Icon Set - 1.0
Bourne-Again SHell - 4.0.44-16
bzip2 - 1.0.5-8
Checkmate,

[2020-12-20 17:03] BITBOARDDEV commented on #74
Turns out the version of MobileSubstrate in this repo http://repo.mtmdev.org/ doesn't play nice with n1ghtshade, reinstalling an older version allows the device to boot

[2020-12-21 14:48] GabrielL92I commented on #51
I am trying to downgrade different ios like 6.x and 7.x and when I boot tethered phone keep restarting and doesnt boot....itunes recognise it in recovery mode

[2020-12-21 15:11] GabrielL92I opened #90 "iPhone 5 keep restarting into recovery mode and doesn't boot"
Hello

I tried to restore some iOS 6.x and 7.x versions on my iphone 5 but the phone doesnt boot when I select boot tethered....it is detected in recovery mode

[2020-12-21 16:12] GabrielL92I commented on #90
I want to add that only the ios 9.3.5 worked once only and it was not hacktivated....It was requesting activation....

[2020-12-22 13:35] GabrielL92I commented on #82
Same thing happens to me...
Try 9.0 or 9.3.5 and it will work...

[2020-12-22 13:36] GabrielL92I commented on #83
Same for me...
I cannot jailbreak ios 9.0 or 9.3.5
The developer seems to have abandoned this project as isn't anymore updated

[2020-12-22 13:38] GabrielL92I commented on #84
Restore and tether boot again....At least you can downgrade to ios 6....
Can you share some info....what phone, what macos you use as for me I can't boot io 6.x or 7.x or 8.x   ONly 9.x

[2020-12-23 07:40] GabrielL92I commented on #90
Update

I am able to restore/boot and jailbreak on iOS 6.0.2
I am able to restore/boot but no jailbreak on iOS 8.0
I am able to restore/boot and jailbreak on iOS 9.0 but as stated on another issue opened by someone the Cydia is unable to install packages....
I am able to restore/boot but no jailbreak on iOS 9.3.5

A lot of iOS versions after tether boot keep looping into recovery mode!

[2020-12-28 18:55] codingfornoobs opened #91 "iPhone 5.2 | n1ghtshade stuck on 'Grooming heap' |"
I have tried to downgrade my iPhone 5.2 from iOS 10 to iOS 6, but it just keeps on getting stuck on 'Grooming heap'

Does anyone know how to fix this issue?

[2021-01-14 17:28] Kapiton777 commented on #82
Hello, my iPhone 5,2 refurbished from China similarly from iOS 10.3.4 n1ghtshade RC3 on MacOS Mojave to iOS 6.1.4, and i hear sound charging (old sound), and
when switched to silent mode, a vibration motor is heard as well as when starting, and in iTunes this phone determined with 6.1.4, but screen black and not reacting for touch, but you can see that the screen turns on the backlight but does no

[2021-01-21 12:02] vedranmarinovic commented on #29
Has any progress been made so far regarding A5 support?

[2021-01-23 21:48] Mexi12 opened #92 "N1ghtshade keeps crashing"
N1ghtshade always crashes when I click on restore. I tried all versions but none worked.
use osx 10.11

[2021-01-27 08:23] LukasAppleFan opened #93 "iPhone 5c panic iOS 7.0.4"
Hello,
So after using the tool, everything went fine from iOS 10.3.3 to iOS 7.0.4 on iPhone 5c but after a couple of minutes the phone panicked :
![8F1AA826-159F-4CB5-B4AB-4486E52B4D8E](https://user-images.githubusercontent.com/41242166/105963404-40414880-6081-11eb-8497-a664368375e9.jpeg)
![6B593D7E-0FFE-4A8C-A9C1-4408E178BE72](https://user-images.githubusercontent.com/41242166/105963434-49321a00-

[2021-01-27 08:25] LukasAppleFan commented on #93
It is iPhone5,4 so you know and 32GB and I checked the S/N to see if it ever was on iOS 7 and yes it did.

[2021-01-31 14:24] sprainbrains commented on #67
It didnt work.

[2021-01-31 15:32] sprainbrains commented on #67
Solved it! I used RC1 version)

[2021-02-06 15:14] Jokersmash commented on #67
Thanks a lot worked for me to !

[2021-02-07 23:31] s00r1 commented on #67
I got this error and after 3 days i see that i was using a wring ipsw , i downloaded ios 6.0.1 for iphone 5,1 and after 3 days i see that 3utools detecting my phone as iphone 5,2 then downloaded the good ipsw and it work perfectly

[2021-02-19 23:59] mariobrostech commented on #54
@CodeyMoore Do you mind explaining how you installed the following dependencies? I can't find them on Homebrew. Thanks in advance!
- arm-elf-gcc
- libcrypto
- libfragmentzip

[2021-02-23 16:57] Garrettbro39 opened #94 "Please add support for untethered downgrade and support for iPhone 2G up to iPhone 4S"
Having the tethered downgrade is a problem because if my iPhone 5 battery dies then I have to boot it through my computer over and over and it’s even a bigger problem if I’m somewhere with no computer. Also please add support for iPhone 2G up to iPhone 4S please so I can downgrade all my older devices to their original versions

[2021-02-27 07:16] wthenujaya commented on #82
Same issue here
iPhone 5,1 trying to restore to 7.0.6 and while restoring, there is no verbose boot or apple logo but the phone was successfully restored.
but when i clicked tethered boot, the phone just on a charging sound loop and the lock sound loop with a blank screen.
anybody can help? tried every release of nightshade

[2021-02-27 11:23] Kapiton777 commented on #82
Hello, this problem was solved thanks to screen replacements to original. After this - all ok.

And i shotted video of this way of downgrade in Russian: https://www.youtube.com/watch?v=c0ALW5u0Sl0

[2021-02-28 22:11] ChompsR opened #95 "When restoring iPhone 5, I keep getting "Failed to stall Pipe""
Hi,

When I'm trying to go back to iOS 6 on my iPhone 5, Nightshade keeps popping the message "Failed to stall Pipe", let me attach an imagen with the message.

I'm currently on macOS Big Sur.

<img width="484" alt="Captura de Pantalla 2021-02-28 a la(s) 16 10 54" src="https://user-images.githubusercontent.com/63972535/109435324-920e2300-79df-11eb-858a-0c2d56ec648d.png">

[2021-03-03 13:28] ilyamodder commented on #90
Beta 9 works for me (iPhone 5,2, iOS 6.1.4)

[2021-03-04 04:31] TheEvilKingBowser commented on #94
iPhone 2G - iPhone 4 can be downgraded to any version using older versions of iTunes (iTunes 10 I think?), and the 4S can be downgraded using this tool AFAIK: https://github.com/LukeZGD/iOS-OTA-Downgrader

[2021-03-10 18:05] mariobrostech opened #96 "[Announcement] n1ghtshade is now on Homebrew!"
Hi all,

I recently submitted a pull request to homebrew-cask and managed to get n1ghtshade added! This makes it much easier to install n1ghtshade since it installs all of the required dependencies for you. If you have had issues with n1ghtshade in the past, you might want to give this a spin to see if it was due to missing dependencies!

Steps:
1) Download and install Homebrew from [https://brew.

[2021-03-10 18:07] mariobrostech commented on #59
The cask has been re-submitted and recently got approval from the Homebrew team! [See more details here](https://github.com/synackuk/n1ghtshade/issues/96).

[2021-03-17 14:13] developerss opened #97 "error break"
here is error log in Cataline 10.15
Error in libbelladonna.c:300 "Device not supported."Error in libbelladonna.c:643 "Failed to put device in pwned DFU mode."Error in libbelladonna.c:900 "Failed to put device in pwned DFU mode."Failed to jailbreak device.

[2021-04-16 10:33] DolphinFlopFish opened #99 "macOS X 10.11 not working"
Hello,

Every time I put my iPhone 5,2 into DFU Mode select the iOS 6.0 IPSW and click start on macOS X 10.11 it crashes.

Is there a thing I need to do to not make it crash

Thanks for any help!

[2021-04-17 08:53] DolphinFlopFish commented on #99
help pls

[2021-04-17 08:54] DolphinFlopFish commented on #91
me too

[2021-04-17 08:54] DolphinFlopFish commented on #91
what version of macOS are you on?

[2021-04-18 07:50] loyalOrange503 opened #100 "iPhone 5 black screen after restore"
Tried restoring my iPhone 5 to the latest version of IOS 6, but it boots to a black screen instead and does not does anything unfortunately.

[2021-04-19 13:23] ilyamodder commented on #100
Try Beta 9, it works for me

[2021-04-19 14:37] loyalOrange503 commented on #100
Tried it using beta 9, same issue. The screen is on and black, but not showing anything else or doing anything.

[2021-04-21 10:49] developerss opened #101 "jailbreak crash boot 9 and 8"
everything works perfect for me restore or boot ,
but the problem in jailbreak , when i jailbreak os 9 or 8 it alwasy get crash to boot that device

[2021-04-21 22:27] #101 closed

[2021-04-21 22:27] developerss commented on #101
Fixed

[2021-04-23 04:10] Void48 opened #102 "can't jailbreak :/"

[2021-04-23 22:22] developerss opened #103 "why not ios 10.1 ?"
i really want to downgrade ios 10.1

[2021-04-26 14:54] developerss commented on #102
i cant jailbreak 10.3 , i installed the nightshade app , but ios 10.3 not allowed to runned the app individual  , it closes at start

[2021-05-10 15:24] emad2333 commented on #103
I have tried to iOS 10.3.3 to iOS 10.1.1 iPhone 5 GSM but always get error unable to place device in recovery mode , device sits with two lines of code on it

[2021-05-24 18:34] developerss commented on #103
already announced : that ios 10 not support

[2021-05-24 18:35] developerss commented on #99
may be repair brew solve this problem

[2021-05-26 01:55] dapengtx opened #104 "I want to restore the iphone 5s (a1530) to IOS 9.0, but the tools pop the error say "Device not supported""
Error in libbelladonna.c:300 "Device not supported."Error in libbelladonna.c:643 "Failed to put device in pwned DFU mode."Error in libbelladonna.c:689 "Failed to put device in pwned DFU mode."Failed to boot tethered.

I changed the iphone to DFU mode, but the tools can not connect to the iPhone

please help me finish the restore task, thanks

[2021-05-26 01:55] dapengtx commented on #104
the IOS package file is  "iPhone6,1_9.0_13A344_Restore.ipsw"

[2021-05-31 14:42] Visualwit commented on #100
Did You Use The BOOT Option?

[2021-05-31 14:44] Visualwit commented on #104
Does Not Support A7 Devices, You Can Close This Issue Now. It Is Recommended To Downgrade To 10.3.3 With LeetDown.

[2021-05-31 17:58] evilshado opened #105 "it apparently works but no."
On apple A6x (iPad A1460)
Seems to work except those errors
(ERROR: Unable to connect to FDR client (-2))
 and
(ERROR: Failed to start FDR Ctrl channel)
The screen shows a loading bar with the apple symbol, ios 6 style
(i am trying to downgrade to ios 6.1.3)
After the automatic restart of the iPad the screen remains black with no life signal..
Connecting the iPad to the mac, itunes warns that the

[2021-05-31 18:02] evilshado commented on #105
**full log**
checkm8 by axi0mX
Grooming heap
Preparing for overwrite
Grooming heap
Overwriting task struct
Uploading payload
Executing payload
Device is now in pwned DFU mode
Finding iBSS for device
Uploading iBSS
Executing iBSS
Finding iBEC for device
Uploading iBEC
Executing iBEC
Downloading atropine hooker
Uploading atropine hooker
Executing hooker
Downloading atropine
Uploading atropine
Loadin

[2021-05-31 18:05] evilshado commented on #105
full log
checkm8 by axi0mX
Grooming heap
Preparing for overwrite
Grooming heap
Overwriting task struct
Uploading payload
Executing payload
Device is now in pwned DFU mode
Finding iBSS for device
Uploading iBSS
Executing iBSS
Finding iBEC for device
Uploading iBEC
Executing iBEC
Downloading atropine hooker
Uploading atropine hooker
Executing hooker
Downloading atropine
Uploading atropine
Loading pa

[2021-06-02 16:43] corece commented on #105
iPhone5,2same

[2021-06-03 17:26] Visualwit commented on #29
I'm Still Waiting For My iPhone 4S To Go Back To iOS 7.1.2 Without Blobs.

[2021-06-04 18:29] evilshado commented on #105
I have tried with old versions, but old ones don't work correctly as well

[2021-06-10 13:52] WhyMeAtTime opened #107 "problem with restore iPhone 5c to 7.0.6"
Error in exploits/checkm8/checkm8.c:132 "Failed to push forward overwrite offset."
What can I do?

[2021-06-10 14:46] Grandboy46 commented on #105
The FDR errors are a general futurerestore error and you shouldn't worry about it.

[2021-06-10 14:49] Grandboy46 commented on #104
N1ghtshade does not support 64 bit devices nor it is possible to downgrade to iOS 9 with or without blobs. You can only downgrade to 10.3.3 untethered without blobs and 10.1.x, 10.2.x and 10.3.x with blobs.

[2021-06-20 11:02] Aguiaescaldante commented on #89
Nightshade only work with a6 devices like iphone 5, iphone 5c and ipad 3
I don´t know when its gonna have support with a5 devices like iphone 4s, ipod touch 5th generation and ipad 2

[2021-06-27 20:25] Visualwit commented on #57
did all that, i still get the error

[2021-07-17 13:37] AndrewChqng commented on #96
Hi, I'm trying to install through Homebrew on Linux, it comes with the n1ghtshade cask unavailable?

[2021-07-18 03:00] mariobrostech commented on #96
@AndrewChqng Homebrew Cask is a feature of Homebrew that is specific to macOS. Casks cannot be installed on Linux.

[2021-07-19 13:34] AndrewChqng commented on #96
Ahhh, that makes sense. I've spent a few hours trying to get the source file working on Debian and compiled a lot of dependencies, I just can't seem to get libirecovery to be detected by the autogen script and bypassing it to compile it throws up a load of errors. Any tips please because I'm still in the process of learning to compile and it's a pretty steep curve?

Trying to get a vm for MacOS is

[2021-07-19 16:05] mariobrostech commented on #96
@AndrewChqng Let me address a few things that might help you:
1) This project is macOS-only. If you want a version that works on Linux, check out [LukeZGD's fork of n1ghtshade with Linux support](https://github.com/LukeZGD/n1ghtshade).
2) If you're having issues compiling, I believe LukeZGD's fork has a build script for Linux which might help you.
3) macOS VMs won't work since n1ghtshade relies on

[2021-07-20 15:35] RealYellowMan opened #108 "iPad 4 is bricked by a yellow screen after downgrading to iOS 6"

[2021-07-21 12:31] synackuk commented on #108
Simply leave It on charge, the yellow screen means it's charging

[2021-07-21 12:31] #108 closed

[2021-07-21 12:31] synackuk commented on #107
Try disabling bluetooth

[2021-07-21 12:32] synackuk commented on #105
Once at the black screen do a tethered boot and it should boot fine

[2021-07-21 12:33] synackuk commented on #104
Correct, 64 bit devices are currently unsupported

[2021-07-21 12:33] #104 closed

[2021-07-21 12:33] WhyMeAtTime commented on #107
On a Mac? Or on iPhone?

[2021-07-21 14:29] synackuk commented on #107
On the Mac

[2021-07-21 14:38] WhyMeAtTime commented on #107
I’ll try 

Sent from myMail for iOS

Wednesday, 21 July 2021, 5:29 PM +0300 from ***@***.***  ***@***.***>:

[2021-07-21 17:33] AndrewChqng commented on #96
Thanks! Finally got it to work after LukeZGD's fork and https://github.com/checkra1n/BugTracker/issues/1508#issuecomment-663877499 . Then I realise all the effort's been for nothing because of #78 🤦.

[2021-07-21 19:22] synackuk commented on #96
When :P

[2021-07-21 20:49] mariobrostech commented on #96
@synackuk Oh, you're alive! While you're here, is there any chance of the jailbreak feature getting fixed for the iPad 4th Gen? IIRC, I submitted a PR in the repo, but it hasn't been acknowledged yet (and it also doesn't solve the issue, but it eliminates part of it). I can also test any patches if you need me to and report back with the results. Thanks in advance!

[2021-07-21 22:51] synackuk commented on #96
@mariobrostech The kernel patcher is going to be largely redone in the next update - discovered I can patch the amfi stuff in a much simpler way

[2021-07-21 22:51] synackuk commented on #96
@mariobrostech And I can't see your PR

[2021-07-22 00:38] mariobrostech commented on #96
@synackuk Sorry, my bad, it wasn't my PR because I realized someone had already made one. You can find that PR [here](https://github.com/synackuk/belladonna/pull/3).
While that fixes the error that n1ghtshade generates when trying to jailbreak the iPad 4th Gen (my model specifically is the iPad3,4), it doesn't fix the problem. Running the jailbreak with that PR applied doesn't error out, but it al

[2021-07-26 18:58] mba08mc opened #109 "n1ghtshade gives me an error when trying to downgrade iPad 4 WiFi to iOS 6"
<img width="474" alt="Screenshot 2021-07-26 at 19 55 12" src="https://user-images.githubusercontent.com/88000853/127043267-1cc82e59-ecba-4658-aaa2-a3b2d5d6ae65.png">

When I try to restore to iOS 6 it says the error shown in the image, first time I tried downgrading it worked fine but I forgot to boot tether and I restored it back (using finder) to iOS 10.3.3. Is there any solution to this issue,

[2021-07-26 20:47] mba08mc commented on #105
I did the restore, after when I boot tethered it says
"Error in exploits/checkm8/checkm8.c:137 "Failed To Send Abort."
Error in libelladonna.c:288 "Failed to enter pwned dfu mode"
Error in libelladonna.c:643 "Failed to put device into pwned dfu mode"
Error in libelladonna.c:689 "Failed to put device into pwned dfu mode"
Failed To Boot Tethered
<img width="474" alt="Screenshot 2021-07-26 at 21 46 4

[2021-07-28 13:25] syui opened #110 "ipad 4th(wifi) / Failed to jailbreak (libbelladonna.c : Failed to download kernel)"
Thanks to this tool, I was able to downgrade + boot ipad 4th(wifi) Thank you.

There are several reports.

Successfully downgraded and boot version :
ios 6.0, 7.0, 8.0, 9.3.5 ... ok

However, the jailbreak seems to failed.

[2021-07-31 12:41] WorriedTripod68 opened #111 "All versions not working iPhone 5, iOS 10.3.4"
I have tried RC 3,2,1, beta 12,11,10,9,8 and on the RC versions, it always says “failed to send abort” while trying to downgrade to iOS 6/7/9. On the betas sometimes it completes, for example when I downgraded to iOS 6.0, but normally it gets stuck at either executing payload, preparing for overwrite, or says failed to enter pwned DFU mode, any help?

[2021-07-31 15:20] adog9712 commented on #101
How did you fix this please?

[2021-08-04 23:41] Rubanoxd opened #112 "iOS 6,7,8 Don t work on iPhone 5"
It only works in iOS 9 on my iPhone 5. the other versions do not appear the apple when restoring. When I try to boot from n1gtshade the last thing that “Executing iBoot” “done” and it returns to the black screen

[2021-08-28 14:02] RealYellowMan opened #113 "cannot jailbreak iPhone 5c on iOS 10.3.3"
i tried to jailbreak my iPhone 5c on iOS 10.3.3 but Cydia is not installed

[2021-08-30 09:44] mba08mc opened #114 "Trying to boot tethered iPad 4th Gen but shows error"
When I try to boot tether my iPad 4th Gen a1458, Get an error:
Error in exploits/checkm8/checkm8.c:97 "Failed to create heap hole."

And this is the text which shows underneath:
checkm8 by axi0mX
Grooming heap
Error in exploits/checkm8/checkm8.c:97 "Failed to create heap hole."Error in libbelladonna.c:288 "Failed to enter Pwned DFU mode."Error in libbelladonna.c:643 "Failed to put device in pwned

[2021-08-30 18:31] mba08mc opened #115 "Problem trying to restore iPad 3,4 to iOS 10"
I get an error saying:
Error in libbelladonna.c:446 "Failed to upload iBSS."

[2021-08-30 18:32] mba08mc commented on #113
synackuk mentioned that jailbreaking isn't supported on iOS 10

[2021-08-30 22:58] mba08mc commented on #112
Try installing RC1 and try again

[2021-08-30 22:59] mba08mc commented on #110
synackuk said that jailbreak is supported for iOS 6-8

[2021-08-31 09:41] mba08mc opened #116 "Has the n1ghtshade project become inactive?"

[2021-09-01 09:27] mba08mc opened #117 "iPad 3,4 becomes green screen when charging"

[2021-09-05 06:38] Metalth commented on #91
I have the same problem with Yosemite.

[2021-09-16 10:02] xzz024 opened #118 "Error"
After brushing the machine once, it seems that there is a permanent error, as shown in the figure. Thank you！

![截屏2021-09-16 17 58 31](https://user-images.githubusercontent.com/68104786/133593078-1384dd83-7db6-4f28-ae2c-8cef990dc8f7.png)

[2021-09-26 12:04] ilyamodder opened #119 "Jailbreak breaks tethered 9.3.5 installation on iPhone5,2"
Title says it all. Tried RC3, RC1 - same results. Works fine without a jailbreak, but after that it just panics on tethered boot.

Any suggestions? Maybe someone had better luck with different 9.x version?

[2021-10-01 04:56] Cellguy16 opened #120 "Failed to get packages"
When I open the n1ghtshade app to download a package manager on iOS 6, I receive a message saying that the app could not connect to the internet. I have checked my internet connection, as well as the date and time.
![error](https://user-images.githubusercontent.com/91715223/135567145-c38145ad-f747-46ba-85aa-d59fc3926e02.PNG)
(A screenshot of the error.)

[2021-10-01 23:12] darbysauter opened #121 "iPhone 5C GSM blank screen after restore to 7.0.1"
I am currently on iOS 10 and the logs look fine and I get to "DONE" but the phone just sits at a blank screen.

I have tried RC3, 1, Beta 13 and 9

[2021-10-01 23:16] #121 closed

[2021-10-01 23:22] darbysauter commented on #86
So after restoring the only way to boot is tethered? Also is there a way of jailbreaking as well? seems to me the only way to boot is the tethered boot option, the jailbreak option didnt seem to work.

[2021-10-01 23:31] darbysauter commented on #120
Me as well

[2021-10-02 19:13] darbysauter commented on #120
@Cellguy16 did you ever get this to work? My guess is the server might be down

[2021-10-03 02:26] Cellguy16 commented on #120
@darbysauter I have not been able to fix the issue. I have checked all day. I suspect that the server had been shut down. From what I can tell, the project seems like it was probably discontinued.

[2021-10-03 05:51] darbysauter commented on #120
damn too bad.. I suppose could maybe use another jailbreak once booted although not sure if they would interact well. Worth a shot

[2021-10-03 06:11] darbysauter commented on #120
The request from the server looks fine: https://github.com/synackuk/hyoscine/blob/ff5043f4e5690044f72f98d805e1a823797f672f/physostigmine/n1ghtshade_app/N1RootViewController.m#L14

when loading the link manually it downloads the URL.

The docs for this method say "This method may fail and return nil for various reasons, like bad URLs and file-not-found errors. If you want to handle these errors" ur

[2021-10-03 11:27] darbysauter commented on #120
well after a while of getting an OS X yosemite VM and old xcode installed i realized its simply something to do with authentication or from a browser as when I curl the URL i get:

`
<html>
<head><title>301 Moved Permanently</title></head>
<body>
<center><h1>301 Moved Permanently</h1></center>
<hr><center>nginx</center>
</body>
</html>
`

@synackuk any idea how to fix this?

[2021-10-03 16:09] synackuk commented on #120
Issue is to do with SSL iirc, GitHub updated their SSL requirements to beyond that supported.

[2021-10-03 16:09] synackuk commented on #120
I will fix this in the next update by having the packages plist on a separate server

[2021-10-03 20:14] darbysauter commented on #120
When do you roughly plan on releasing that?

[2021-10-04 05:31] darbysauter commented on #120
@synackuk In the meantime I have built belladonna and hyoscine but I am unable to load my own. I do

`
$ belladonna/tools/belladonna -w ~/Downloads/iPhone5,3_7.0.1_11A470a_Restore.ipsw
$ belladonna/tools/belladonna -j -d ../hyoscine/hyoscine/hyoscine.img3
$ belladonna/tools/belladonna -b
`

But the n1ghtshade app doesn't show up. If I don't specify the -d flag it installs fine (looks like it downl

[2021-10-12 00:45] arandomusernam opened #122 "Jailbreak Breaks iOS 6.0 Installation on iPhone5,1"
I decided to jailbreak my iPhone5,1, but after it says that the jailbreak installed correctly, the phone just recovery mode loops. I try to tether boot it and it says that it finished correctly, but the booting always freezes on "AppleBCMWLANBusInterfaceHSIC::resetChip():". After a while, the phone just reboots and I have to try all over again. I have tried with different USB cables and different

[2021-10-16 13:08] berketk7 opened #123 "AppSync Unified iOS 7 Break (iPhone5,2)"
When I install appsync unified and respring, the system crashes when I want to boot tethered (iOS 7.0)

[2021-10-16 19:57] YvanQu commented on #120
@berketk7 you're a goddamn hero

[2021-10-19 05:07] #120 closed

[2021-11-15 19:43] mba08mc opened #124 "iPad 4 iOS 6 Jailbreak fails saying 'Failed To Download Kernel'"

[2021-11-22 22:08] Michael2987 opened #125 "Ios 6.1.4 jailbreak “failed to install physostigmine”"
My iPhone 5 (5,1) reads after jailbreaking on iOS 6.1.4 on the Verbose boot text

installing physostigmine
Failed to install physostigmine
unmounting filesystems
Flushing buffers

Then the phone freezes so I force reboot boot tethered boot it then there is a n1ghtshade app on the Home screen with no icon image and crashes as soon as I open it

edit: i used this version of n1ghtshade and it jailbro

[2021-11-23 13:35] Cellguy16 commented on #125
I am having the exact same problem on my iPhone (5,2) when attempting to jailbreak iOS 6.1.3.

[2021-11-23 23:49] Michael2987 commented on #125
I just jailbroke with 3utools and every time it would say waiting for reboot I would have to quickly boot tethered on my Mac. it works though

[2021-12-01 16:15] Michael2987 commented on #116
it seems the owner has abandoned/gave up on this project and it probably wont receive any updates after RC3 but again i could be wrong i'm hoping he either

A. releases a whole new tool like n1ghtshade but better (maybe thats what he's doing idk)
B. He fixes/enhances n1ghtshade to make it better

who knows:)

[2021-12-05 08:51] KarlS0808 opened #126 "Iphone 5,2 Not detected in pc itunes and 3u after downgrade so cant jailbreak"

[2021-12-05 17:39] Michael2987 commented on #126
did you try to re-downgrade? what ios did you downgrade too?

[2021-12-26 13:20] benzbfr commented on #120
I've tried this and it doesn't work for me (anymore?). Anybody has an idea or am I doing something wrong?

[2022-01-09 06:42] Jichao commented on #125
same problem for 5c gsm jailbreak ios 7.0.1

[2022-01-27 16:39] KaanSystemsProjects opened #127 "iPhone 5c (5,4) libbelladonna c:300 "Device not Supported""
Hi!

i have an iPhone 5c with iOS 10.3.4 on it. I want to downgrade it to iOS 7.0.2 but my iPhone is "not" supported. Why?

Dear, Kaan Systems Projects

[2022-01-28 22:41] Errorperson opened #128 "Iphone 5,1 ios 6.1.3 failing and iphone dying during process when I charged to 100%"

[2022-01-29 11:15] KaanSystemsProjects commented on #127
Problem Sloved! I forgot that i had 2 iDevices Connected and one of the iDevices was an iPhone 4s 😅

[2022-01-29 11:15] #127 closed

[2022-02-02 00:53] Harold62 opened #129 "Cydia Not Showing Up In N1ghtshade App"
Asks me if i'm connected to the internet (which i am) and shows nothing under "Availible package managers:"

[2022-02-19 23:30] lambda-byte commented on #129
install the ssl cert from http://cydia.invoxiplaygames.uk/certificates/

[2022-02-20 05:30] Harold62 commented on #129
Hi, thanks for the reply but how can i install something from cydia when i can't install cydia due to it not showing up in the N1ghtShade app?

[2022-02-20 16:36] CommandoNghia commented on #129
i also have problem with it?

[2022-02-20 16:38] CommandoNghia commented on #129
Thank you ! , It's my problem.

[2022-02-20 17:02] Harold62 commented on #117
You mean yellow? That would be because it isn't charged enough yet to boot it. Once it's ready it turns white.

[2022-02-20 22:52] lambda-byte commented on #129
you dont need cydia to install the cert

[2022-02-23 16:40] #129 closed

[2022-03-23 11:11] Rafael790518 opened #130 "The application can not run on the Big Sur"

[2022-04-08 10:50] yzhhxb opened #131 "Segment error (core dumped)"
/home/user/desktop/n1ghtshade-master/bin/n1ghtshade_linux  -w /home/user/desktop/iphone5,4_7.0.1_11a470a_restore_1.ipsw
n1ghtshade by synackuk, with thanks to: axi0mX, Daniel Volt, Chronic Dev, xerub, iH8Sn0w, tihmstar, nyan_satan, libimobiledevice and RealiMuseum.checkm8 by axi0mX

Segment error (core dumped)

[2022-04-20 13:07] mba08mc commented on #131
give more info

[2022-04-20 13:07] mba08mc commented on #130
try rc1 of n1ghtshade.

[2022-04-20 13:08] mba08mc commented on #128
your iPhone may have a faulty battery. If not, try restoring the device in finder/itunes to ios 10.3.3 and try again in n1ghtshade

[2022-04-20 13:12] mba08mc commented on #126
Try entering DFU mode and see if the pc recognises it in DFU. If no, restore in finder/itunes on your mac and restart your pc. If recognised in DFU mode then try restarting the pc, re-tether-booting the iphone. If this still doesnt work there may be something wrong with the fs of the ios you downgraded to meaniing you have to re-downgrade

[2022-04-20 13:14] mba08mc commented on #125
DONT JAILBREAK USING N1GHTSHADE. N1ghstahde's built-in jailbreak is full of issues and problems. Use p0sixspwn to jb 6.1.3.

[2022-04-20 13:18] mba08mc commented on #124
To any that sees this, don't use n1ghtshades built in jailbreak option. for 6.0 to 6.1.2 use evasi0n. For 6.1.3 use p0sixspwn. You can research other jbs for other ios versions but as i said nshades jb is BROKEN.

[2022-04-20 13:18] #124 closed

[2022-04-20 13:21] mba08mc commented on #116
I talkeed to him a while back on Twitter and he said he's been quite busy lately. So let's not stress him out, we can use what we have or work on it ourselves because the project is O-S

[2022-04-20 13:22] mba08mc commented on #115
Guys just use iTunes/Finder to back to iOS 10. Don't be a donkey like I was in Aug 21 :/

[2022-04-20 13:22] #115 closed

[2022-04-20 13:23] mba08mc commented on #114
Solved this a long time ago. Restart mac and then quickly use n1ghtshade

[2022-04-20 13:23] #114 closed

[2022-04-20 13:24] mba08mc commented on #109
Restart mac, quickly use n1ghtshade. I solved this a long time ago.

[2022-04-20 13:24] #109 closed

[2022-04-20 13:27] mba08mc commented on #117
Solved this a really long time ago. Thanks Harold62 but it wasn't that, I messed up somethink while playing with iFunBox. Re-dgraded and it was all fine.
For people seeing this in the future its either what Harold62 said or u were messing around like I did and broke something.

[2022-04-20 13:27] #117 closed

[2022-05-02 17:28] mon089 opened #132 "ios 7 not working"
i restore my device and it turned on but its pitch black i can here sounds only
older n1ghtshade builds make bluetooth dont work
and also my sim not working after jailbreak

[2022-05-30 20:07] eneapreka commented on #100
Same thing is happening to me it makes the charging sound but nothing on the screen and I’m on high sierra

[2022-06-04 08:37] ashraf008 opened #133 "iPhone 5c unable to login to apple id downgraded to 8.4"
I'm able to use icloud unfortunately unable to login to apple id so that I can use apple music. Please help me out.

[2022-06-04 09:31] #133 closed

[2022-06-07 16:22] Errorperson opened #134 "Iphone 5 error"
It boots to a blank green screen when i plug it in, it fails to restore with itunes, n1ghtshades does not work, 3u tools cant get it out of recovery, please help.

[2022-08-18 08:53] miniexploit opened #135 "Compiling issue"
I encountered this error while compiling n1ghtshade:
[code]

[2022-08-18 13:10] SomeFermions opened #136 "Error in libbelladonna.c:617 “failed to up load payload”"
I was trying to boot the device because jailbreak it with another app needs rebooting ,but this happened almost every time ……

[2022-08-18 13:15] SomeFermions commented on #136
MacOS version 11.6 iOS:iPhone 5,2 iOS 6.0.2

[2022-08-19 00:29] ChenKanNing opened #137 "The latest version still can't complete the jailbreak for ios6.1.3"
Hello, when I use your newly released n1ghtshadeV1.0 to jailbreak ios6.1.3, n1ghtshade will crash and cannot complete the jailbreak. My operating system is Mojave

[2022-08-20 08:53] synackuk commented on #136
What showed on the device?

[2022-08-20 08:54] synackuk commented on #135
Do you have thos installed?

[2022-08-20 08:54] synackuk commented on #137
The jailbreak option in n1ghtshade crashes? Can you send the bug report?

[2022-08-21 14:24] ChenKanNing commented on #137
It was only native to jailbreak. N1GHTSHADE popped up the collapse. It was impossible to perform subsequent operations because it was not operated in the terminal, so there was no record.

[2022-08-21 15:25] Michael2987 opened #139 "n1ghtshade v1.0 crashes right after Pwndfu exploit succeeds and right before restore begins"
<img width="983" alt="Screen Shot 2022-08-21 at 11 19 31 AM" src="https://user-images.githubusercontent.com/76879913/185798313-c669d571-ca01-43af-9e65-856bdefe68bd.png">

when restoring to 6.1.4 on a gsm iPhone 5 32GB it enters pwndfu mode successfully (according to iPwnder32)  but suddenly crashes right after.

My OS is  Mojave 10.14.6
computer is a Retina early-2015 Macbook Pro

[2022-08-26 14:31] Visualwit commented on #113
Try "h3lix"

[2022-08-26 14:52] Visualwit opened #140 "iPad 3,4 iOS 9.3.5 Issue"
I wanted a working, jailbroken iPad 4th gen Wi-Fi model on iOS 9.3.5. after restoring, I noticed that there was no recovery screen on the iPad. Then i went to jailbreak. That's when i got "Failed To Execute iBoot".

LOGS:
[logs.pdf](https://github.com/synackuk/n1ghtshade/files/9434186/logs.pdf)
.

[2022-08-26 17:38] Visualwit commented on #140
I even tried iOS 9.0.2, Same thing happened.

[2022-08-30 09:53] PeterGrig1990 opened #142 "iPad gets back to DFU after restoration."
Am running n1ghshade I macOS Big Sur, V1.0.
I succeeded I pretty everything.
Am restoring the iOS 6.0.1 on iPad 3,5.
I see an Apple logo, a progress bar, the bar goes to the end, but after the reboot, it shows another Apple logo (without glossy design) and gets back to DFU screen (iTunes logo + lighting cable)

[2022-08-31 18:50] swayea commented on #140
same issue, only can restore to 6.  maybe we should try older vers.

[2022-08-31 19:15] Visualwit commented on #140
The older versions of n1ghtshade have unstable ios 9 jailbreaks.

[2022-08-31 21:18] swayea commented on #140
i think you can restore to 7 or 8 and coolboot 9 and untether

[2022-08-31 21:53] Visualwit commented on #140
ok, maybe i can wait for this to be fixed because synackuk is not really that active.

[2022-09-03 01:16] swayea commented on #140
how is it go?

[2022-09-03 01:17] Visualwit commented on #140
I'd wait for a fix

On Fri, Sep 2, 2022, 9:16 PM swayea ***@***.***> wrote:

[2022-09-03 01:19] swayea commented on #140
can u add me on discord

swayea#1655

[2022-09-07 18:58] ooglecg commented on #142
that's normal. just boot tethered after this happens

[2022-09-14 14:52] ndmedia-324 opened #143 "Jailbreak on IOS 6.1.X not working"
After jailbreaking my iPhone 5 (iPhone5,1) and rebooting into iOS 6.1. The nightshade app doesn’t find the packages. The prompt on screen is a popup that says “failed to get packages” are you connected to the internet? My device is connected to the internet and it is set up properly. This issue is present on the tethered jailbreak for iOS 6.1 through 6.1.4
![CDA6E9C9-DE12-4C19-A35B-BD610B907D67](h

[2022-10-04 18:37] theIuser commented on #143
Having the same issue on my iPad 4 (3,6)

[2022-10-08 03:22] JoshAtticus commented on #143
Seems to be an SSL error, I'm currently unsure on which certificate you'd need to install though.

[2022-10-08 03:23] JoshAtticus commented on #134
Unfortunately, this is a hardware issue that cannot be fixed easily. This was most likely **not** caused by n1ghtshade.

[2022-10-08 10:23] theIuser commented on #143
What url does the app try to pull? Maybe I can help figure out what certificates are needed.

[2022-10-08 11:30] JoshAtticus commented on #143
Not sure, as I don’t have an http monitor set up

[2022-10-08 20:24] theIuser commented on #143
Did some http sniffing. Fond that the n1ghtshade App connects to http://synackuk.dev/n1ghtshade/packages.plist
As this is not a SSL protected site maybe the host was just offline the other days?
After that I was able to install cydia on my device.

For reference in the future, when maybe synackuk.dev is gone, the plist contains the following content:

[code]

[2022-10-10 02:18] JoshAtticus commented on #143
Nice!

[2022-11-04 21:02] #139 closed, assigned to nobody

[2022-11-06 07:37] Emayeah opened #144 "entering pwned dfu stuck"
welp it doesn't work (os x mavericks (i don't want to upgrade) and mbp late 2011)

[2022-11-12 16:36] Visualwit opened #145 "iOS 9 is BROKEN (Do not downgrade to iOS 9!)"
iOS 9 (All Versions) Just Gives out "Failed to execute iBoot" when I try to jailbreak or tether boot on any device. So it is not recommended to downgrade to iOS 9 until the bugs are fixed.

[2022-11-25 00:38] CubeBag commented on #145
Same issue with iOS 8.4.1 on iPhone 5C